<div class="wrapper">
  <div class="footer-nav">
    <div tabindex="0" (click)="openImpressum()" (keydown.enter)="openImpressum()" [class.active]="isImpressumDisplayed()" class="footer-element">
      <span>{{ 'impressum_contact' | tl8 }}</span>
    </div>
    <div tabindex="0" (click)="openPhilosophy()" (keydown.enter)="openPhilosophy()"  [class.active]="isPhilosophyDisplayed()" class="footer-element">
      <span>{{ 'short_and_sweet' | tl8 }}</span>
    </div>
    <div tabindex="0" (click)="openDsgvo()" (keydown.enter)="openDsgvo()" [class.active]="isDsgvoDisplayed()" class="footer-element">
      <span>{{ 'safety_policy' | tl8 }}</span>
    </div>
    <div tabindex="0" (click)="openTermsOfUse()" (keydown.enter)="openTermsOfUse()" [class.active]="isTermsOfUseDisplayed()" class="footer-element">
      <span>{{ 'terms_of_service' | tl8 }}</span>
    </div>
    <div tabindex="0" (click)="openCookieDetails()" (keydown.enter)="openCookieDetails()" [class.active]="isCookieDetailsDisplayed()" class="footer-element">
      <span>{{ 'cookie_details' | tl8 }}</span>
    </div>
    <div tabindex="0" (click)="openCookiePolicy()" (keydown.enter)="openCookiePolicy()" [class.active]="isCookiePolicyDisplayed()" class="footer-element">
      <span>{{ 'cookie_policy' | tl8 }}</span>
    </div>

    <div class="s9-copyright footer-element"><span>Section9 2020</span></div>
    <div class="patreon footer-element"><a class="patreon-link" href="https://www.patreon.com/curview" target="_blank"></a></div>
  </div>
</div>
