.wrapper {
  display: grid;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 20px auto;
  overflow: hidden;

  .footer-nav {
    display: flex;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 13px;
    .footer-element {
      margin: 0 10px;
      cursor: pointer;
      transition: 0.2s;
      opacity: 0.5;
      &:hover, &.active {
        color:var(--main-color);
        opacity: 1;
      }
    }
    a, a:visited {
      text-decoration: none;
      color: var(--text-primary);
      font-size: 12px;
    }
    .s9-copyright{
      color: var(--text-primary);
      opacity: 0.5;
      &:hover {
        color: var(--text-primary);
      }
    }
    .patreon {
      margin: 0 10px 0 20px;
      .patreon-link {
        display: block;
        background: url(../../assets/become_a_patron_button@2x.png);
        background-size: 110px;
        width: 110px;
        height: 25px;
      }
    }
  }
}


.impressumcontainer {
  height: 0;
  display: grid;
  grid-template-columns: auto 60px;
  grid-template-rows: 60px auto;
  overflow:hidden;
  transition: 0.2s ease;
  &.open {
    height: auto;
    padding: 40px 0 0 0;
  }
  h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin:0;
    line-height: 60px;
  }
  .close {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: block;
    background: var(--text-primary);
    height: 60px;
    width: 60px;
    mask:url(../../assets/icons/icon-close.svg) no-repeat;
    mask-size: 35px;
    mask-position: center;
    cursor:pointer;
    .icon {
    }
  }
  span {
    font-size: 13px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}




.website-info {
  padding: 5px;
}




