.wrapper {
    display: grid;
    grid-template-columns: auto 60px;
    height: 50px;
    .logo {
        justify-self: auto;
        margin: 0;
        svg {
            width: 165px;
            margin: 3px 0 0 0;
        }
    }
    .menu {
        display: flex;
        svg {
            margin: 0 0 0 auto;
            width: 30px;
            .path {
                fill: none;
                stroke: var(--text-primary);
                stroke-width: 2;
                stroke-linecap: round;
                stroke-miterlimit: 10;
            }
        }
    }
}
