<div class="icon-editor-wrapper">
    <div class="schema-container">
        <div class="schema-row" *ngFor="let row of schema">
            <div (click)="leftClickedCell(cell)" *ngFor="let cell of row"
                [style.backgroundColor]="cell.color?.htmlColor" [style.height.px]="cell?.size"
                [style.width.px]="cell?.size" class="grid-color" [ngClass]="displayGrid ? 'grid-cells' : ''"> </div>
        </div>
    </div>

    <div class="color-select-container">

        <div class="color-select-row">
            <div (click)="toggleSelectingColor()" class="selected-colors-container">
                <div [ngClass]="currentlyPaintingColorKey === 0 ? 'bottom-right' : 'top-left'" class="selected-color"
                    [style.backgroundColor]="color1?.htmlColor"></div>
                <div [ngClass]="currentlyPaintingColorKey === 1 ? 'bottom-right' : 'top-left'" class="selected-color"
                    [style.backgroundColor]="color2?.htmlColor"></div>
            </div>
            <div *ngFor="let color of colors" class="color-box">
                <div (click)="chooseColor(color)" [style.backgroundColor]="color?.htmlColor"
                    [ngClass]="(color.equals(currentlyPaintingColor) ? 'selected' : (color.equals(color1) || color.equals(color2) ? 'inactive' : ''))"
                    class="color-elem"> </div>
            </div>
            <div [style.backgroundColor]="currentlyPaintingColor?.htmlColor" class="fill"
                (click)="clearWithSelectedColor()"></div>
        </div>
    </div>

    <div class="bottom-row">
        <label class="switch">
            <input type="checkbox" name="Show Grid" [(ngModel)]="displayGrid">
            <span class="slider round"></span>
        </label>
        <div class="btn close" (click)="closeEditor()">Exit</div>
        <div *ngIf="valid()" (click)="saveIcon()" class="save-container btn">
            Save & Exit
        </div>
    </div>
</div>