.icon-editor-wrapper {
  background-color: var(--medium-black);
  width: 100%;
  overflow: hidden;
  animation: scrollDown 0.3s ease-in-out;
  position: relative;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto;
  letter-spacing: 0.3px;
  .schema-container {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;
    .schema-row {
      display: flex;
      width: max-content;
      &:first-child {
        overflow: hidden;
        border-radius: 3px 3px 0 0;
      }
      &:last-child {
        overflow: hidden;
        border-radius: 0 0 3px 3px;
      }
      &:last-child .grid-color {
        border-bottom: 1px solid rgba(0,0,0,0);
      }
    }
    .grid-color {
      border-bottom: 1px solid rgba(0,0,0,0);
      border-right: 1px solid rgba(0,0,0,0);
      transition: 0.2s ease-in;
      cursor: pointer;
      &.grid-cells {
        border-bottom: 1px solid rgba(0,0,0,1);
        border-right: 1px solid rgba(0,0,0,1);
      }
    }
    .grid-color:last-child {
      border-right: 1px solid rgba(0,0,0,0);
    }
    
  }
  .color-select-container {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  .color-select-row {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5px;
    justify-items: center;
    margin-right: -8px;
    .selected-colors-container {
      position: relative;
      width: 40px;
      height: 40px;
      grid-column: 1/3;
      margin: 0 0 5px 0;
      cursor: pointer;
    }
    .color-box {
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3px;
      cursor: pointer;
      .color-elem {
        width: 22px;
        height: 22px;
        min-width: 22px;
        min-height: 22px;
        margin: 2px;
        border-radius: 3px;
        transition:border 0.2s ease-in-out;
        border: solid 2px rgba(0,0,0,0);
        &.selected {
          border: solid 2px var(--text-primary);
        }
      }
      
      .inactive {
        opacity: 0.5;
      }

      .color-elem:hover {
        width: 25px;
        height:25px;
        min-width: 25px;
        min-height: 25px;
      }
    }
    .fill {
      mask: url(../../assets/icons/icon-fillcolor.svg) no-repeat 50% 50%;
      mask-size: 30px;
      height: 40px;
      width: 100%;
      grid-column: 1/3;
      cursor: pointer;
      transition: 0.2s ease;
      margin: 7px 0 0 0;
    }
  }
  .bottom-row {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr auto auto;
    margin-top: 15px;
    /* The slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 49px;
      height: 28px;
      margin: 5px 0 0 0;
      &:after {
        content: 'Grid';
        font-family: 'Cairo', sans-serif;
        transition: 0.2s ease;
        font-size: 14px;
        color: var(--text-primary);
        position: absolute;
        margin: 0 0 0 30px;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--text-primary);
        transition: .3s ease;
        &:before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          left: 4px;
          bottom: 4px;
          background-color: var(--medium-black);
          -webkit-transition: .4s;
          transition: .2s ease-in;
        }
        input {
          opacity: 0;
          width: 0;
          height: 0;
        }
      }
      input:checked + .slider {
        background-color: var(--main-color);
        &:before {
          background-color: var(--medium-black);
        }
      }

      
      
      input:focus + .slider {
        box-shadow: 0 0 1px var(--main-color);
      }
      
      input:checked + .slider:before {
        transform: translateX(20px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 3px;
      }
      
      .slider.round:before {
        border-radius: 3px;
      }
    }
    
    input {
      margin: 6px 5px 0 10px;
    }
    .save-container {
      margin: 0 0 0 15px;
    }
  }
  
}

@keyframes scrollDown {
  0% {
    height: 0px;
  }
  100% {
    height: 283px;
  }
}



.flex-center {
  justify-content: center;
}

.color-select-row img {
  width: 30px;
}




.selected-color {
  position: absolute;
  width:30px;
  height:30px;
  border-radius: 3px;
}

.bottom-right {
  right:0;
  bottom:0;
  z-index: 250;
}

.top-left {
  top: 0;
  left:0;
  z-index: 200;
}

.inactive {
  background: url(../../assets/icons/icon-close.svg) 50% 50% no-repeat;
  background-size: 42px;
}




