<app-mobile-menu></app-mobile-menu>
<div id="mobile-menu-overlay" (click)="closeSideNav()" *ngIf="screenMode == 'mobile' && MobileNavStatus == 'open'">
</div>
<div id="app-main" [ngClass]="screenMode === 'mobile' ? 'mobile' : '' " class="main-wrapper container">
  <app-topbar *ngIf="screenMode !== 'mobile'" [ngClass]="topbarDocked ? 'isDocked' : ''" class="app-topbar">
  </app-topbar>
  <app-topbar-mobile *ngIf="screenMode == 'mobile'" class="topbar"></app-topbar-mobile>
  <div class="middle-section">
    <app-playlist-history-container *ngIf="screenMode === 'desktop'" class="playlist-history-container desktop">
    </app-playlist-history-container>
    <app-video class="app-video" style="z-index: 1"></app-video>
    <app-chat-container *ngIf="screenMode !== 'mobile'" [ngClass]="screenMode === 'desktop' ? 'desktop' : '' " class="app-chat"></app-chat-container>
    <div *ngIf="screenMode !== 'mobile'" [ngClass]="screenMode === 'desktop' ? (chatToggle ? 'open' : 'closed') : 'hidden' " class="chat-responsive">
    </div>
  </div>
  <div *ngIf="screenMode !== 'mobile'" id="bottom-section" class="bottom-section">
    <app-searchresult [ngClass]="screenMode === 'desktop' ? (chatToggle ? '' : 'closed') : '' " class="app-searchresult"></app-searchresult>
    <app-playlist-history-container *ngIf="screenMode === 'tablet'" class="playlist-history-container">
    </app-playlist-history-container>
  </div>
  <app-mobile-container *ngIf="screenMode === 'mobile'"></app-mobile-container>
</div>
<app-footer *ngIf="screenMode !== 'mobile'" class="app-footer"></app-footer>

<!-- OVERLAYS -->
<app-overlay-container *ngIf="overlayIndex > -1" class="over-all additional-info-index">
</app-overlay-container>

<app-s9toastr [ngClass]="[chatToggle ? 'open' : '']" class="s9-toastr-container"></app-s9toastr>

<app-spinner *ngIf="!revealContent && dsgvoCookieConfirmed" class="overlayed" [text]="'waiting for server..'" [overAll]="true">
</app-spinner>