.main-wrapper {
  min-height: 100vh;
}

.app-topbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  transition: 0.3s ease;
  color: var(--text-primary);
}

.middle-section {
  width: 100%;
  display: flex;
  padding-top: 90px;
  position: relative;
  z-index: 10;
}

.middle-section .app-video {
  width: 100%;
  margin-left: 350px;
  margin-right: 20px;
}

.app-searchresult {
  margin: 0 350px;
  display: block;
  position: relative;
  transition: 0.4s ease;
}

.app-searchresult.closed {
  margin-right: 130px;
}

.app-chat {
  position: fixed;
  right: 20px;
  z-index: 100;
  height: 87.5vh;
  transition: 0.4s ease;
  transition-delay: 0.1s;
}

.chat-responsive {
  transition: 0.4s ease;
}

.chat-responsive.closed {
  min-width: 90px;
  margin-right: 20px;
}

.chat-responsive.open {
  min-width: 330px;
}

.chat-responsive.hidden {
  display: none;
}

.app-footer {
  position: fixed;
  transition: 0.3s ease-in;
  bottom: 0;
  width: 100%;
  color: var(--text-primary);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 9, 0) 10%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7) 60%, rgba(9, 9, 9, 0) 90%, rgba(0, 0, 0, 0) 100%);
}

.playlist-history-container {
  width: 310px;
  height: 87.5vh;
  margin-left: 20px;
  position: fixed;
  transition: 0.4s ease;
  transition-delay: 0.1s;
  border-radius: 3px;
  color: var(--text-primary);
}

.middle-section .app-video,
.middle-section .app-chat {
  border-radius: 3px;
}

@media only screen and (max-width: 1440px) {
  .app-chat {
    position: inherit;
    height: auto;
    margin-right: 20px;
    right: 0;
  }

  .topbar {
    padding: 4px 15px 0 15px;
    background: var(--ui-highlight);
  }

  .middle-section .app-video {
    margin-left: 20px;
  }

  .playlist-history-container {
    width: 310px;
    position: relative;
    display: block;
    margin: 20px 20px 0 0;
    position: sticky;
    top: 90px;
    min-height: 500px;
    height: 80vh;
  }

  .app-searchresult {
    display: block;
    width: 100%;
    margin: 0 20px;
  }

  .bottom-section {
    display: flex;
    padding-bottom: 25px;
  }

  .app-footer {
    display: block;
    padding: 0 20px;
  }
}

.wait-for-backend {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(35, 37, 41, 0.5);
  z-index: 100000;
}

.over-all {
  display: flex;
  align-items: center;
  justify-content: cent er;
  position: fixed;
  top: 0px;
  bottom: 20px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;

  .close-overlay-button {
    position: absolute;
    right: 27vw;
    top: 6vh;
    color: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    .btn-font {
      font-size: 42px;
    }
  }

  .close-overlay-button:hover {
    background-color: #69000d;
  }
}

.additional-info-index {
  z-index: 200000;
}

// Mobile

.main-wrapper.mobile {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 100%;
  height: 100vh;
}

#mobile-menu-overlay {
  position: absolute;
  width: 50vw;
  height: 100vh;
}

.overlayed {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
}
