.center-overlay-content {
  position: relative;
  border-radius: 3px;
  width: 90vw;
  max-width: 768px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  max-height: 90vh;
  padding: 55px 25px 25px 25px;
  display: grid;
  grid-template-rows: 1fr;
  margin: 0 auto;
  > * {
    overflow-y: scroll;
    padding-right: 20px;
  }
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    mask: url(../../assets/icons/icon-close.svg);
    background: var(--text-primary);
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      opacity: 1;
      background: var(--main-color);
    }
  }

}
