<div class="center-overlay-content">

  <div tabindex="0" *ngIf="dsgvoCookieConfirmed || overlayIndex > 0" (click)="close()" (keydown.enter)="close()" class="close"></div>
  <app-cookie-policy *ngIf="isCookiePolicyDisplayed()" class="over-all"></app-cookie-policy>
  <app-cookie-details *ngIf="isCookieDetailsDisplayed()"></app-cookie-details>
  <app-dsgvo *ngIf="isDsgvoDisplayed()"></app-dsgvo>
  <app-philosophy *ngIf="isPhilosophyDisplayed()"></app-philosophy>
  <app-impressum *ngIf="isImpressumDisplayed()"></app-impressum>
  <app-terms-of-use *ngIf="isTermsOfUseDisplayed()"></app-terms-of-use>
</div>
