<div [ngClass]="topbarDocked ? 'isDocked' : ''" class="wrapper">

  <div class="logo">

    <!-- SVG LOGO -->

    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 164 27" style="enable-background:new 0 0 164 27;" xml:space="preserve">
      <g>
        <path class="color" d="M57.2,2c-0.1,0-21.8-1.9-21.8-1.9c-1.2-0.1-2.3,0.8-2.4,2c0,0.1,0,0.1,0,0.2l-0.1,11.6c0,1.4,0.9,2.6,2.3,3.1
		l1.3,0.4c-0.8-2-1.3-4.2-1.5-6.4l5.1,1.3c0-0.1,0-0.1,0-0.2c0.2-1.2,1.5-2,2.7-1.7c1.5,0.4,2.6,1.7,2.8,3.3l2.9,0.7
		c0.5,2.4,1.3,4.7,2.2,7l1.2,0.3c1.2,0.4,2.5-0.4,2.9-1.6V20l3.8-15.5C58.9,3.4,58.3,2.3,57.2,2z" />
        <path class="person" d="M45.6,13.7c-0.2-1.6-1.3-2.9-2.8-3.3c-1.2-0.3-2.5,0.5-2.7,1.7c0,0.1,0,0.1,0,0.2L35,11
		c0.2,2.2,0.7,4.4,1.5,6.4l14.2,4c-0.9-2.3-1.7-4.6-2.2-7L45.6,13.7z" />
      </g>
      <g>
        <path class="color" d="M30.6,2.2c0.1-1-0.7-2-1.8-2C28,0.2,2.7,6.4,2.7,6.4c-1.3,0.3-2.2,1.7-1.8,3l3.8,15.1c0.3,1.2,1.4,1.9,2.6,1.7
		c0.1,0,0.2,0,0.4-0.1l3.5-1.3c1.1-2.9,1.8-5.7,2.2-8.7l2.8-1c0.1-1.6,1.1-3.1,2.6-3.6c1.7-0.5,2.7,0.4,3,1.6l4.9-1.7
		c0,2.8-0.5,5.4-1.6,8.1l3.2-1.2c1.4-0.6,2.3-1.9,2.4-3.4L30.6,2.2z" />
        <path class="person" d="M21.8,13.1c-0.3-1.2-1.3-2.1-3-1.6c-1.5,0.5-2.5,2-2.6,3.6l-2.8,1c-0.4,3-1.1,5.8-2.2,8.7l13.9-5.3
		c1.1-2.7,1.6-5.3,1.6-8.1L21.8,13.1z" />
      </g>
      <path class="text" d="M67.4,20.5c-0.9-0.5-1.5-1.4-1.9-2.5s-0.6-2.6-0.6-4.5c0-2.5,0.4-4.4,1.3-5.8s2.4-2.1,4.7-2.1
	c0.6,0,1.2,0,1.9,0.1c0.7,0.1,1.6,0.2,2.7,0.4l-0.1,2.2c-1.7-0.2-2.9-0.2-3.6-0.2c-1.1,0-1.9,0.2-2.5,0.5s-1,0.9-1.2,1.6
	c-0.2,0.8-0.3,1.8-0.3,3.2s0.1,2.4,0.3,3.2c0.2,0.7,0.6,1.3,1.2,1.6c0.6,0.3,1.4,0.5,2.6,0.5l3.5-0.3l0.1,2.3
	c-2,0.3-3.5,0.5-4.5,0.5C69.5,21.3,68.3,21.1,67.4,20.5z" />
      <path class="text" d="M80.5,20.6c-0.7-0.5-1.2-1.3-1.5-2.3c-0.3-1.1-0.4-2.5-0.4-4.4V6h2.8v7.8c0,1.4,0.1,2.4,0.2,3.1
	c0.1,0.7,0.4,1.2,0.8,1.5s1,0.4,1.8,0.4c0.7,0,1.3-0.1,1.9-0.2c0.6-0.2,1.2-0.4,1.9-0.7V6h2.8v15H88v-1c-0.8,0.5-1.6,0.8-2.3,1
	c-0.7,0.2-1.4,0.3-2.2,0.3C82.2,21.3,81.2,21.1,80.5,20.6z" />
      <path class="text" d="M94.9,6h2.8v1.9c1.8-1.1,3.5-1.9,5.3-2.2v2.8c-0.8,0.2-1.6,0.4-2.4,0.7s-1.5,0.6-2.1,0.8l-0.7,0.3V21H95V6H94.9
	z" />
      <path class="text" d="M105.1,6h2.9l3.2,12.6h1L115.5,6h2.9l-4,15h-5.3L105.1,6z" />
      <path class="text" d="M121.1,0h2.8v3h-2.8V0z M121.1,6h2.8v15h-2.8V6z" />
      <path class="text" d="M128.6,19.5c-1-1.2-1.5-3.1-1.5-5.7c0-2.8,0.5-4.9,1.6-6.2c1.1-1.4,2.7-2,4.9-2c4.1,0,6.1,2.3,6.1,7l-0.2,2H130
	c0,1.1,0.2,1.9,0.4,2.5c0.3,0.6,0.7,1,1.3,1.3s1.4,0.4,2.5,0.4c0.6,0,1.3,0,2.1,0s1.5-0.1,2.1-0.1l0.8-0.1l0.1,2.2
	c-2.3,0.4-4.2,0.6-5.7,0.6C131.2,21.3,129.6,20.7,128.6,19.5z M136.9,12.5c0-1.6-0.3-2.8-0.8-3.5s-1.4-1-2.6-1
	c-1.3,0-2.2,0.4-2.8,1.1c-0.6,0.7-0.9,1.8-0.9,3.4H136.9z" />
      <path class="text"
        d="M141.8,6h2.8l2.6,12.6h0.6L151,6.3h2.9l3.2,12.3h0.6L160.2,6h2.8l-3.3,15h-4.6l-2.7-11l-2.7,11h-4.6L141.8,6z" />
    </svg>









  </div>

  <div class="searchbar-wrapper">
    <div [ngClass]="inFocus ? 'in-focus' : ''" class="searchbar">

      <div class="selected-api-wrapper">
        <img (click)="displaySearchInput = false" class="api-icon" [src]="selectedDataApi?.iconUrl">
      </div>

      <div *ngIf="!displaySearchInput" class="apis-container">
        <div *ngFor="let api of apiSelection" class="api-icon-wrapper"
          (click)="toSelectedDataApi(api); displaySearchInput = true">
          <img class="api-icon" [src]="api.iconUrl">
        </div>

      </div>

      <input tabindex="0" (focusout)="focusOutFunction()" (focus)="focusFunction()" class="search-text-input"
        *ngIf="displaySearchInput" type="text"
        placeholder="{{ 'search' | tl8 }} {{selectedDataApi?.additionalFileTypeInfo}}" [formControl]="searchInput" />

      <div (click)="displaySearchInput = true" class="close-api">
        <div *ngIf="displaySearchInput" class="search icon"></div>
        <div *ngIf="!displaySearchInput" class="close icon"></div>
      </div>

    </div>
  </div>

  <div tabindex="0" class="toplink copy-link" (click)="copyUrlToClipboard()" (keydown.enter)="copyUrlToClipboard()">
    <div class="icon"><svg version="1.1" id="svg" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25"
        style="enable-background:new 0 0 25 25;" xml:space="preserve">
        <g>
          <path id="path1" class="st0"
            d="M11.1,18.9L7.9,22c-1.4,1.4-3.6,1.4-4.9,0l0,0c-1.4-1.4-1.4-3.6,0-4.9l6.4-6.4c1.4-1.4,3.6-1.4,4.9,0" />
          <path id="path2" class="st0"
            d="M13.9,6.1L17.1,3c1.4-1.4,3.6-1.4,4.9,0l0,0c1.4,1.4,1.4,3.6,0,4.9l-6.4,6.4c-1.4,1.4-3.6,1.4-4.9,0" />
        </g>
        <g>
          <line class="dot" x1="4.3" y1="8.8" x2="6.3" y2="9.8" />
          <line class="dot" x1="21.1" y1="15.4" x2="19.5" y2="14.9" />
          <line class="dot" x1="19" y1="19.8" x2="17" y2="17.8" />
          <line class="dot" x1="8.5" y1="5.4" x2="9.2" y2="7.3" />
          <line class="dot" x1="14.9" y1="22.4" x2="14" y2="20.2" />
        </g>
      </svg></div>{{ 'copy_link' | tl8 }}
  </div>
  <div tabindex="0" (click)="createNewRoom()" class="toplink new-room" (keydown.enter)="createNewRoom()">
    <div class="icon">
      <div class="plus"></div>
    </div>{{ 'new_room' | tl8 }}
  </div>

  <div class="meta-nav">
    <div [ngClass]="languagePickerOpen ? 'open' : ''" class="languagepicker">

      <div tabindex="0" (click)="toggleLanguagePicker()" (keydown.enter)="toggleLanguagePicker()"
        (clickOutside)="clickOutsideLanguagePicker($event)" class="selected-language language">
        <span>{{selectedLanguageSelect.short}}</span>
      </div>
      <div *ngIf="languagePickerOpen" class="language selectable-languages">
        <div tabindex="0" (click)="setAsSelectedLanguage(language)"
          (keydown.enter)="setAsSelectedLanguage(language)" *ngFor="let language of languages"
          class="language-elem">
          <span>{{language.short}}</span></div>
      </div>

    </div>
    <div id="modePicker" class="modepicker">
      <div tabindex="0" (click)="toggleDayMode()" (keydown.enter)="toggleDayMode()" class="icon"
        [ngClass]="resolveDayMode()">
        <div class="icon"></div>
      </div>
      <div class="colormode">
        <div tabindex="0" (click)="toggleThemeColorPicker()" (keydown.enter)="toggleThemeColorPicker()"
          (clickOutside)="clickOutsideThemeColorPicker($event)" class="theme-color" [ngClass]="selectedThemeColor">
        </div>
        <div *ngIf="themeColorPickerOpen" class="selectable-colors">
          <div tabindex="0" (click)="setAsSelectedThemeColor(color)"
            (keydown.enter)="setAsSelectedThemeColor(color)" class="theme-color" [ngClass]="color"
            *ngFor="let color of filteredThemeColors">
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
