.wrapper {
  display: grid;
  grid-template-columns: 255px 1fr auto auto auto;
  margin: 0 20px;
  font-family: "cairo", sans-serif;
  letter-spacing: 0.3px;
  transition: 0.2s ease;
  padding: 20px 0 10px 0;
  background: linear-gradient(
    -35deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(208, 208, 208, 0) 70%,
    rgba(208, 208, 208, 0) 100%
  );
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background: var(--nav-bg);
    opacity: 0;
    height: 100%;
    transition: 0.3s ease;
  }
  &.isDocked:after {
    background: var(--nav-bg);
    opacity: 1;
  }
  &.isDocked {
    border-radius: 0 0 3px 3px;
    padding: 10px 0 10px 0;
  }

  .meta-nav {
    display: flex;
    margin-right: 16px;
    width: 60px;
    justify-content: flex-end;
    position: relative;
    .languagepicker {
      &.open {
      border: 2px solid var(--text-primary);
      height: 100%;
      }
      border: 2px solid rgba(255, 255, 255, 0);
      transition: 0.2s;
      border-bottom: 2px solid var(--white);
      align-self: center;
      cursor: pointer;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 12px;
      height: 0%;
      span {
        text-align: center;
        line-height: 5px;
        text-align: center;
        line-height: 12px;
        display: inherit;
        margin: 5px;
        &::selection {
          color: none;
          background: none;
      }
      }
      .language {
        display: flex;
        justify-content: center;
        &:last-child span {
          margin: 5px 5px 10px 5px;
        }
      }
      .selectable-languages {
        animation: fade-in 0.3s forwards;
        opacity: 0;
        animation-delay: 0.1s
      }
      .selected-language {
      }
      .language-elem {
      }
    }
    .modepicker {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 0 10px;
      justify-content: space-evenly;
      .icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
      .light-mode .icon {
        mask: url(../../assets/icons/icon-night.svg) no-repeat;
        mask-size: 16px;
        background: var(--text-primary);
      }
      .dark-mode .icon {
        mask: url(../../assets/icons/icon-day.svg) no-repeat;
        mask-size: 16px;
        background: var(--text-primary);
      }
      .colormode {
        height: 15px;
        .selectable-colors {
          padding: 5px 5px 0px 5px;
          background: var(--white-transparent);
          position: absolute;
          border-radius: 3px;
          margin: 5px 0 0 -5px;
          animation: fade-in 0.2s;
        }
        .selectable-colors .theme-color {
          margin: 0 0 5px 0;
        }
        .theme-color {
          width: 15px;
          height: 15px;
          border-radius: 12.5px;
          background-size: 25px;
          cursor: pointer;
          &.green {
            background: rgb(122, 255, 102);
          }
          &.red {
            background: rgb(249, 255, 74);
          }
          &.blue {
            background: #67e5ff;
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  width: 200px;
  height: 35px;
  align-self: center;
  margin: 11px 0 0 0;
  transition: 0.3s ease;
  justify-self: center;
}

.isDocked .logo {
  background-size: 200px;
  width: 200px;
  height: 35px;
}

@media only screen and (max-width: 1440px) {
  .wrapper {
    display: grid;
    grid-template-columns: 220px 1fr auto auto auto;
    .logo {
      width: 185px;
    }
  }
}

@media only screen and (max-width: 980px) {
  .wrapper {
    display: grid;
    grid-template-columns: 190px 1fr auto auto auto;
    .logo {
      width: 165px;
    }
  }
}

.searchbar-wrapper {
  display: flex;
  background: var(--medium-black);
  overflow: hidden;
  border-radius: 3px;
}

.searchbar {
  display: grid;
  grid-template-columns: 55px 1fr 50px;
  width: 100%;
  position: relative;
  //border-bottom: 1px solid var(--main-color);
  &.in-focus:after {
    //width: 100%;
    opacity: 1;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background: var(--main-color);
    transition: 0.2s ease;
    opacity: 0;
  }
  &.in-focus .search-text-input::placeholder {
    color: var(--text-primary);
    opacity: 0.4;
  }
  .search-text-input {
    animation: toVisible 0.35s ease-in-out;
    width: 100%;
    background: var(--light-black);
    color: var(--text-primary);
    border: none;
    padding: 0 20px;
    outline: none;
    letter-spacing: 0.3px;
    &::placeholder {
      font-family: "cairo", sans-serif;
      transition: 0.2s ease;
      color: var(--text-primary);
      opacity: 0.6;
    }
  }
}

.toplink {
  align-self: center;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  &:first-child {
    margin-left: 50px;
  }
  .icon {
    background: var(--ui-solid);
    border-radius: 3px;
    height: 50px;
    width: 50px;
    margin-right: 13px;
    display: flex;
    justify-content: center;
  }
  &.copy-link svg {
    width: 25px;
    .st0 {
      fill: none;
      stroke: var(--main-color);
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
    .dot {
      fill: none;
      stroke: var(--main-color);
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
  }
  &.new-room .plus {
    width: 16px;
    height: 16px;
    mask: url(../../assets/icons/icon-create.svg) no-repeat;
    background: var(--main-color);
    align-self: center;
  }
}

.apis-container {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  animation: toVisible 0.35s ease-in-out;
  padding: 0 10px;
  background: var(--dark-black);
}

.api-icon-wrapper,
.selected-api-wrapper {
  height: 50px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-icon {
  width: 30px;
  transition: 0.3s;
}

.api-icon:hover {
  width: 38px;
}

.selected-api-wrapper {
  transition: 0.3;
  width: 100%;
  background: var(--ui-solid);
  cursor: pointer;
}

.close-api {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  background: var(--ui-solid);
  .icon {
    height: 25px;
    width: 25px;
    &.search {
      mask: url(../../assets/icons/icon-search.svg);
      mask-size: 25px;
      background: var(--main-color);
    }
    &.close {
      mask: url(../../assets/icons/icon-close.svg);
      mask-size: 20px;
      background: var(--text-primary);
    }
  }
}
