.sidenav {
    height: 100%;
    width: 50vw;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -50vw;
    background-color: var(--light-black);
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 50px 1fr auto auto;
    box-shadow: -4px 0px 10px -5px rgba(0, 0, 0, 0.3);
    li {
      text-decoration: none;
      color: var(--text-primary);
      display: block;
      transition: 0.3s;
      display: flex;
    }
    #main {
      display: flex;
      align-self: end;
      ul {
        margin: 0 0 20px 0;
        padding: 0;
        width: 100%;
        li {
          font-size: 20px;
          padding: 10px 15px 10px 15px;
          border-bottom: 1px solid;
          border-image-source: linear-gradient(45deg, rgba(23, 23, 24, 0.6), rgba(35, 37, 41, 0.2));
          border-image-slice: 1;
          cursor: pointer;
        }
      }
    }
  
    #settings {
      ul {
        margin: 0 0 20px 0;
        padding: 0;
        li {
          font-size: 15px;
          padding: 15px;
          span {
            margin-left: 10px;
          }
          &.daymode {
            .icon {
              width: 16px;
              height: 16px;
              cursor: pointer;
            }
            .light-mode {
              mask: url(../../assets/icons/icon-night.svg) no-repeat;
              mask-size: 16px;
              background: var(--text-primary);
            }
            .dark-mode {
              mask: url(../../assets/icons/icon-day.svg) no-repeat;
              mask-size: 16px;
              background: var(--text-primary);
            }
          }

          &.colormode {
            .selectable-colors {
              animation: colormode 0.2s;
              display: flex;
            }
            @keyframes colormode {
              0%   {width: 0;
                opacity: 0;
                      }
              
              100% {width: 40px;
                opacity: 1;}
            }
            .selectable-colors .theme-color {
              margin: 0 0 0 5px;
            }
            .theme-color {
              width: 15px;
              height: 15px;
              border-radius: 12.5px;
              background-size: 25px;
              cursor: pointer;
              border: 2px solid var(--text-primary);
              &.green {
                background: rgb(122, 255, 102);
              }
              &.red {
                background: rgb(249, 255, 74);
              }
              &.blue {
                background: #67e5ff;
              }
            }
          }

          &.languagepicker {
            border-bottom: 2px solid var(--white);
            width: 25px;
            align-self: center;
            cursor: pointer;
            .selectable-languages {
              margin-top: -5px;
              font-size: 14px;
              padding: 5px 5px 5px 5px;
              background: var(--white-transparent);
              position: absolute;
              border-radius: 3px;
              animation: fade-in 0.2s;
            }
            .selected-language {
              text-align: center;
            }
            .language-elem {
              line-height: 16px;
            }
          }
        }
      }
    }
  
    #contact {
      ul {
        margin: 0 0 20px 0;
        padding: 0;
        li {
          font-size: 13px;
          padding: 10px 15px 10px 15px;
        }
      }
    }
  
    .closebtn {
      width: 26px;
      justify-self: end;
      margin: 15px;
      
    }
  }


