<div id="mobileSidenav" class="sidenav">
  <div class="closebtn" (click)="closeSideNav()">
    <svg version="1.1" id="close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve">
      <style type="text/css">
        .st0 {
          fill: none;
          stroke: #1E1E1E;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-miterlimit: 10;
        }
      </style>
      <line class="st0" x1="1" y1="1" x2="25" y2="25" />
      <line class="st0" x1="1" y1="25" x2="25" y2="1" />
    </svg>
  </div>
  <div id="main">
    <ul>
      <li (click)="copyUrlToClipboard()">Copy Link</li>
      <li (click)="createNewRoom()">New Room</li>
    </ul>
  </div>


  <div id="settings">
    <ul>
      <li class="daymode" (click)="toggleDayMode()">
        <div tabindex="0" class="icon" [ngClass]="resolveDayMode()"></div>
        <span *ngIf="currentTheme.mode == 'dark'">Lightmode</span>
        <span *ngIf="currentTheme.mode == 'light'">Darkmode</span>
      </li>
      <li class="colormode" (click)="toggleThemeColorPicker()" (clickOutside)="clickOutsideThemeColorPicker($event)">
        <div tabindex="0" class="theme-color" [ngClass]="selectedThemeColor"></div>
        <div *ngIf="themeColorPickerOpen" class="selectable-colors">
          <div tabindex="0" (click)="setAsSelectedThemeColor(color)" class="theme-color" [ngClass]="color"
            *ngFor="let color of filteredThemeColors">
          </div>
        </div>
        <span>Colormode</span>
      </li>
      <li class="language">
        <div tabindex="0" (click)="toggleLanguagePicker()" (clickOutside)="clickOutsideLanguagePicker($event)"
          class="selected-language">
          {{selectedLanguageSelect.short}}
        </div>
        <div *ngIf="languagePickerOpen" class="selectable-languages">
          <div bindex="0" (click)="setAsSelectedLanguage(language)" *ngFor="let language of languages"
            class="language-elem">
            {{language.short}}</div>
        </div>
      </li>
    </ul>
  </div>
  <div id="contact">
    <ul>
      <li>Kontakt</li>
      <li>Datenschutzerklärung</li>
      <li>Impressum</li>
    </ul>
  </div>


</div>
