<div class="you-want-that-cookie-too-container">
  <svg version="1.1" id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" viewBox="0 0 168 27" style="enable-background:new 0 0 168 27;" xml:space="preserve">

   <g id="Ebene_2_1_">
   </g>
    <title>curview.net</title>
    <path class="color" d="M58.6,4.5c0.3-1.1-0.3-2.2-1.4-2.5c-0.1,0-21.8-1.9-21.8-1.9c-1.2-0.1-2.3,0.8-2.4,2c0,0.1,0,0.1,0,0.2
l-0.1,11.6c0,1.4,0.9,2.6,2.3,3.1l16.7,4.7c1.2,0.4,2.5-0.4,2.9-1.6V20L58.6,4.5z"/>
    <path id="person" class="person" d="M45.6,13.7c-0.2-1.6-1.3-2.9-2.8-3.3c-1.2-0.3-2.5,0.5-2.7,1.7c0,0.1,0,0.1,0,0.2L35,11
c0.2,2.2,0.7,4.4,1.5,6.4l14.2,4c-0.9-2.3-1.7-4.6-2.2-7L45.6,13.7z"/>
    <path class="color" d="M30.6,2.2c0.1-1-0.7-2-1.8-2C28,0.2,2.7,6.4,2.7,6.4c-1.3,0.3-2.2,1.7-1.8,3l0,0l3.8,15.1
c0.3,1.2,1.4,1.9,2.6,1.7c0.1,0,0.2-0.1,0.4-0.1l20.6-7.8c1.4-0.6,2.3-1.9,2.4-3.4L30.6,2.2z"/>
    <path id="person-2" class="person" d="M26.7,11.4l-4.9,1.7c-0.3-1.2-1.5-2-2.8-1.7c-0.1,0-0.2,0-0.2,0.1c-1.5,0.5-2.5,2-2.6,3.6l-2.8,1
c-0.4,3-1.1,5.9-2.2,8.8l13.9-5.3C26.2,16.9,26.7,14.2,26.7,11.4z"/>
    <path class="text" d="M72.4,20.5c-0.9-0.5-1.5-1.4-1.9-2.5c-0.4-1.1-0.6-2.6-0.6-4.5c0-2.5,0.4-4.4,1.3-5.8c0.9-1.4,2.4-2.1,4.7-2.1
c0.6,0,1.2,0,1.9,0.1c0.7,0.1,1.6,0.2,2.7,0.4l-0.1,2.2c-1.7-0.2-2.9-0.2-3.6-0.2c-1.1,0-1.9,0.2-2.5,0.5c-0.6,0.3-1,0.9-1.2,1.6
c-0.2,0.8-0.3,1.8-0.3,3.2c0,1.4,0.1,2.4,0.3,3.2c0.2,0.7,0.6,1.3,1.2,1.6c0.6,0.3,1.4,0.5,2.6,0.5l3.5-0.3l0.1,2.3
c-2,0.3-3.5,0.5-4.5,0.5C74.5,21.3,73.3,21.1,72.4,20.5z"/>
    <path class="text" d="M85.5,20.6c-0.7-0.5-1.2-1.3-1.5-2.3c-0.3-1.1-0.4-2.5-0.4-4.4V6h2.8v7.8c0,1.4,0.1,2.4,0.2,3.1
c0.1,0.7,0.4,1.2,0.8,1.5c0.4,0.3,1,0.4,1.8,0.4c0.7,0,1.3-0.1,1.9-0.2c0.6-0.2,1.2-0.4,1.9-0.7V6h2.8v15h-2.8v-1
c-0.8,0.5-1.6,0.8-2.3,1c-0.7,0.2-1.4,0.3-2.2,0.3C87.2,21.3,86.2,21.1,85.5,20.6z"/>
    <path class="text" d="M99.9,6h2.8v1.9c1.8-1.1,3.5-1.9,5.3-2.2v2.8c-0.8,0.2-1.6,0.4-2.4,0.7c-0.8,0.3-1.5,0.6-2.1,0.8l-0.7,0.3V21
h-2.8V6z"/>
    <path class="text" d="M110.1,6h2.9l3.2,12.6h1L120.5,6h2.9l-4,15h-5.3L110.1,6z"/>
    <path class="text" d="M126.1,0h2.8v3h-2.8V0z M126.1,6h2.8v15h-2.8V6z"/>
    <path class="text" d="M133.6,19.5c-1-1.2-1.5-3.1-1.5-5.7c0-2.8,0.5-4.9,1.6-6.2c1.1-1.4,2.7-2,4.9-2c4.1,0,6.1,2.3,6.1,7l-0.2,2H135
c0,1.1,0.2,1.9,0.4,2.5c0.3,0.6,0.7,1,1.3,1.3c0.6,0.3,1.4,0.4,2.5,0.4c0.6,0,1.3,0,2.1,0c0.8,0,1.5-0.1,2.1-0.1l0.8-0.1l0.1,2.2
c-2.3,0.4-4.2,0.6-5.7,0.6C136.2,21.3,134.6,20.7,133.6,19.5z M141.9,12.5c0-1.6-0.3-2.8-0.8-3.5c-0.5-0.7-1.4-1-2.6-1
c-1.3,0-2.2,0.4-2.8,1.1c-0.6,0.7-0.9,1.8-0.9,3.4H141.9z"/>
    <path class="text"
          d="M146.8,6h2.8l2.6,12.6h0.6l3.2-12.3h2.9l3.2,12.3h0.6L165.2,6h2.8l-3.3,15h-4.6l-2.7-11l-2.7,11h-4.6L146.8,6z"/>
 </svg>


  <div class="you-want-that-cookie-too-text">
    Damit du unsere Seite so nutzen kannst, wie wir es für Dich am komfortabelsten halten, musst du unseren
    (First-Party-)Cookies zustimmen. Diese werden ausschließlich für funktionsgebundene Zwecke eingesetzt (keine
    Werbung, keine Statistik, kein Kommerz).
    Mit der Bestätigung stimmst du diesen Cookies zu, und weiter dass wir Daten in deinem <u
    title="(auch DOM Storage oder ungenau Supercookie genannt) ist eine Technik für Webanwendungen, mit der Daten in einem Webbrowser gespeichert werden.">Web
    Storage</u>
    ablegen, um von dir abgefragte Inhalte zu hinterlegen. Auch diesen Nutzen wir ausschließlich funktionsgebunden.
    Mit anderen Worten: Wir haben keinen Bock Daten zu hamstern - uns reicht Klopapier.
  </div>

  <div class="cookie-info-text-options">
    <div (click)="openPhilosophy()" class="link-text">Was soll das?</div>
  </div>

  <div class="you-want-that-cookie-too-checkboxes">

  </div>

  <a *ngIf="!dsgvoCookieConfirmed" class="accept-button" (click)="confirmToPolicy()">Bestätigen</a>
  <a *ngIf="dsgvoCookieConfirmed" class="discard-button" (click)="discardFromPolicy()">Widerufen</a>

  <div class="you-want-that-cookie-too-footer">
    <div (click)="openCookieDetails()" class="link-text">Cookie & Web Storage -Details</div>
    <div (click)="openDsgvo()" class="link-text">Datenschutzerklärung</div>
    <div (click)="openImpressum()" class="link-text">Impressum</div>
  </div>


</div>
