.you-want-that-cookie-too-container {
  background-color: #fff;
  border-radius: 3px;
  background: var(--light-black);

  padding: 25px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  display: grid;
  grid-template-rows: 85px auto 30px;

  svg {
    width: 200px;
    justify-self: center;
    align-self: center;
    margin-right: 30px;
  }

  .you-want-that-cookie-too-text {
    margin-bottom: 20px;
    text-align: justify;
  }

  .link-text {
    cursor: pointer;
    margin: 0 5px;
  }

  .cookie-info-text-options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .cookie-info-text-options div {
    margin: 5px;
  }

  .accept-button {
    margin: 10px;
    font-family: "Cairo", sans-serif;
    font-size: 25px;
    letter-spacing: 0.3px;
    transition: 0.3s;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    position: relative;

    &:before {
      content: '';
      display: block;
      mask: url(../../assets/icons/icon-forward.svg) no-repeat;
      background: var(--text-primary);
      width: 9px;
      height: 25px;
      position: absolute;
      transition: 0.3s;
      margin: 4px -15px;
    }

    &:after {
      content: '';
      display: block;
      mask: url(../../assets/icons/icon-backwards.svg) no-repeat;
      background: var(--text-primary);
      width: 9px;
      height: 25px;
      position: absolute;
      transition: 0.3s;
      margin: -15px -15px;
      right: 0;
    }
    &:hover {
      &:before {
        background: var(--main-color);
      }

      &:after {
        background: var(--main-color);
      }

      color: var(--main-color);
    }
  }

  .discard-button {
    margin: 10px;
    font-family: "Cairo", sans-serif;
    font-size: 25px;
    letter-spacing: 0.3px;
    transition: 0.3s;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    position: relative;

    &:before {
      content: '';
      display: block;
      mask: url(../../assets/icons/icon-forward.svg) no-repeat;
      background: var(--text-primary);
      width: 9px;
      height: 25px;
      position: absolute;
      transition: 0.3s;
      margin: 4px -15px;
    }

    &:after {
      content: '';
      display: block;
      mask: url(../../assets/icons/icon-backwards.svg) no-repeat;
      background: var(--text-primary);
      width: 9px;
      height: 25px;
      position: absolute;
      transition: 0.3s;
      margin: -15px -15px;
      right: 0;
    }
    &:hover {
      &:before {
        background: #69000d;
      }

      &:after {
        background: #69000d;
      }

      color: #69000d;
    }
  }

  .you-want-that-cookie-too-footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
  }

  .you-want-that-cookie-too-checkboxes {
  }
}
