$toaster-width: 250px;
$toaster-height: 75px;
$toaster-height-small: 15px;
$bar-height: 2px;


.wrapper {
  background: rgba(0,0,0,0);
  transition: background 0.2s;
  &.pipActive {
    padding-bottom: 56.25%;
    background: rgba(0,0,0,0.8);
  }
}

.video-container {
  background-color: black;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 3px;
  z-index: 1000;
  &.pipActive {
    position: fixed;
    right: 140px;
    bottom: 10px;
    width: 330px;
    padding-bottom: 185px;
    transition: right 0.4s ease;
    animation: pipActive 0.3s ease forwards;
    .video-iframe {
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &.open, &.tablet {
      right: 360px;
    }
  }
  /* Video Iframe */

  /* Next Video */
  .next-video-preview {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $toaster-height $bar-height;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2000;
    top: 20px;
    width: $toaster-width;
    height: $toaster-height;
    right: 20px;
    animation: toasteranimation 1.5s ease-in forwards;
    background-color: var(--toaster-bg);
    transition: 0.2s;
    border-radius: 3px 3px 0 0;
    .bar-wrapper {
      background-color: var();
      position: relative;
      height: $bar-height;
      opacity:0;
      animation: fadeIn 0.01s ease-in 1.5s forwards;
      overflow: hidden;
      width: $toaster-width;
      .bar {
        background: var(--main-color);
        height: $bar-height;
        transition: 0.2s
      }
    }
    &:hover {
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      background-color: var(--toaster-bg-hover);
    }
    .preview-wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
      opacity: 0;
      width: 100%;
      justify-content: space-evenly;
      animation: fadeIn 0.2s ease-in 1.5s forwards;
      overflow: hidden;
      .preview-elem {
        height: $toaster-height;
        display: flex;
        align-content: center;
        padding: 10px;
        h3 {
          font-size: 14px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 18px;
          height: 36px;
          align-self: center;
        }
      }
      .preview-img {
        height: $toaster-height;
        img {
          height:100%;
          border-radius: 3px 0 0 0;
        }
      }
    }
  }
  /* Back to Video */
  .back-to-video-wrapper {
    position: absolute;
    border-radius: 3px;
    background-color: var(--ui-solid);
    transition: 0.4s ease;
    z-index: 2;
    top: 10px;
    left: 10px;
    &:hover .back-to-video-content .back-to-video-icon {
      background: var(--main-color);
    }
    .back-to-video-content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 30px;
      height: 30px;
      min-width: 40px;
      min-height: 40px;
      cursor: pointer;
      .back-to-video-icon {
        position: absolute;
        width: 100%;
        height: 100%;
        mask: url(../../assets/icons/icon-maximize.svg) center no-repeat;
        mask-size: 16px;
        background: var(--text-primary);
        z-index: 1100;
        transition: 0.2s ease;
      }
    }
  }

}

@keyframes pipActive {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: 40px;
  }
}


@keyframes toasteranimation {
  0% {
    width: 0;
    height: $toaster-height-small;
  }
  35% {
    width: $toaster-width;
  }
  65% {
    height: $toaster-height-small;
  }
  88% {
    height: calc(#{$toaster-height} + 25px);
  }96% {
    height: calc(#{$toaster-height} - 15px);
  }
  100% {
    height: $toaster-height;
  }
}


.preview-icon {
  width: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/* PIP & Videocontainer */







.video-iframe.nopip {
  animation: bild-in-bild-in 0.3s ease;
}

@keyframes bild-in-bild-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

