<div [class.pipActive]="pipActive" class="wrapper">
  <div id="videocontainer" [ngClass]="screenMode === 'tablet' ? 'tablet' : ''" [class.open]="chatToggle"
    [class.pipActive]="pipActive" class="video-container">

    <div *ngIf="displayNextVideoPreview" [@opOutMedium] (click)="triggerStartNextVideo()" id="nextvideopreview"
      class="next-video-preview">
      <div class="preview-wrapper">
        <div class="preview-img">
          <img [src]="nextVideo?.iconUrl">
        </div>
        <div class="preview-elem">
          <h3>
            {{nextVideo?.title}}
          </h3>
        </div>
      </div>
      <div class="bar-wrapper">
        <div class="bar" [style.width.%]="100 - ((leftTime * 100) / initLeftTime)"></div>
      </div>
    </div>

    <div [ngClass]="chatToggle ? 'open' : ''" class="back-to-video-wrapper" *ngIf="pipActive"
      (click)="scrollBackToVideoContainer()">
      <div class="back-to-video-content">
        <div class="back-to-video-icon">
        </div>
      </div>
    </div>

  </div>
</div>