<div class="chat-container">
  <cdk-virtual-scroll-viewport itemSize="autosize" id="chatBox" class="chatbox">
    <div [id]="chatMessage?.id || 'none'"
         *cdkVirtualFor="let chatMessage of displayedChatMessages; templateCacheSize:10">
      <!-- outgoing, incoming, system -->
      <div *ngIf="isBorderMessage(chatMessage)">


          <span class="left-chat">{{ 'chat_left_channel' | tl8 }}</span>


      </div>
      <div [ngClass]="getChatMessageClass(chatMessage)" class="chatbubble-wrapper" *ngIf="!isBorderMessage(chatMessage)">
        <div class="meta">
          <span class="username">{{chatMessage?.from | id2name}}</span>
          <span class="message-timestamp">{{chatMessage?.createdAt | s2gDate}} </span>
        </div>
        <span class="chat-message" [innerHTML]="chatMessage.body"></span>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

  <div class="chatmessage-container">
    <input placeholder="{{ 'chat_field' | tl8 }}" id="input-chat-messages" [(ngModel)]="chatMessageInputText"
           (keyup.enter)="triggerSendChatMessage()" type="text">
    <div class="send-btn" (click)="triggerSendChatMessage()"></div>
  </div>
</div>
