$chat-open: 310px;

.chat-container {
    opacity: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: grid;
    color: var(--text-primary);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;

    .chatbox {
      padding: 15px;
      overflow-y: auto;
      scrollbar-color: var(--main-color) rgba(0, 0, 0, 0);
      scrollbar-width: thin;

      & + div {
        width: $chat-open;
        background: #fff;
      }
    }

    #chatBox > div:last-child {
      margin: 0 0 15px 0;
    }

    .chatbubble-wrapper {
      .meta {
        display: flex;
        margin: 10px 0 5px 0;
        .username {
          color: var(--text-primary);
          font-weight: 500;
          font-size: 13px;
          text-align: end;
          text-overflow: ellipsis;
          max-width: 95px;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 20px;
          margin: 0 5px;
        }
        .message-timestamp {
          font-size: 9px;
          text-align: end;
          color: var(--text-primary);
          margin: 4px 0 0 0;
          opacity: 0.75;
        }
      }

      .chat-message {
        position: relative;
        font-weight: 300;
        font-size: 13px;
        padding: 8px;
        border-radius: 3px;
        overflow-wrap: break-word;
        margin: 3px 0 0 0;
        max-width: 240px;
      }

      &.outgoing {
        align-items: flex-end;
        width: 100%;
        padding-right: 10px;
        padding-bottom: 10px;
        .meta {
          flex-direction: row-reverse;
        }
        .chat-message {
          background: var(--main-color);
          color: var(--ui-solid);
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 5px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: var(--main-color);
            border-top: 0;
            margin-top: -8px;
            transform: scale(0.42, 0.7);
          }
        }
      }

      &.incoming {
        padding-left: 10px;
        padding-bottom: 10px;
        .chat-message {
          color: var(--text-primary);
          background: #3f4145;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 5px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: #3f4145;
            border-top: 0;
            margin-top: -8px;
            transform: scale(0.42, 0.7);
          }
        }
      }
      &.system {
        padding-bottom: 20px;
        display: flex;
        .meta {
          justify-content: center;
          .username {
            color: var(--inactive);
            font-weight: 500;
            font-size: 13px;
            text-align: center;
            max-width: 60px;
          }
        }
        .chat-message {
          text-align: center;
          padding: 0;
          margin: 0 auto;
          color: var(--text-primary);
        }
      }
    }
  .left-chat {
    color: var(--main-color);
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 5px auto 15px auto;
    font-size: 13px;
    width: 60%;
  }

    .chatmessage-container {
      opacity: 0;
      border: none;
      background: var(--text-primary);
      display: grid;
      grid-template-columns: 1fr 60px;
      input {
        margin: 15px;
        outline: none;
      }
      .send-btn {
        background: url(../../assets/icons/icon-send.svg) var(--main-color) no-repeat;
        background-position: 50% 50%;
        background-size: 25px;
        opacity: 0;
        transition: 0.3s ease-out;
        transition-delay: 0.2s;
      }
    }
  }

  .chatbubble-wrapper {
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }





  input {
    border: none;
  }
