p {
  padding: 20px;
}

.history-wrapper {
  height: 100%;
}

.history-element {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 110px auto 30px;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.3px;

  &:first-child {
    margin-top: 15px;
  }

  &:hover {
    background-color: var(--ui-highlight);
  }

  .history-thumbnail-container {
    width: 100%;
    height: 0;
    padding-bottom: 51%;
    overflow: hidden;
    border-radius: 3px;
    position: relative;

    img {
      clip-path: polygon(0 14%, 100% 14%, 100% 86%, 0% 86%);
      margin: -12% 0 -14% 0;
      width: 100%;
    }
  }

  .description {
    display: grid;
    grid-template-rows: auto auto;

    .title {
      font-family: "Cairo", sans-serif;
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 0 10px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 35px;
      align-self: end;
      color: var(--text-primary)
    }
    .channelTitle {
      font-size: 13px;
      font-weight: 400;
      margin: 5px 0;
      font-family: "Cairo", sans-serif;
      text-overflow: ellipsis;
      width: 90%;
      white-space: nowrap;
      overflow: hidden;
      color: var(--inactive);
      margin: 0 0 0 10px;
      line-height: 14px;
    }
  }


  .direct-video-link {
    width: 16px;
    height: 16px;
    mask: url(../../assets/icons/icon-maximize.svg);
    mask-size: 16px;
    background: var(--text-primary);
    transition: 0.2s;
    place-self: center;

    &:hover {
      background: var(--main-color);
    }
  }
}
