<cdk-virtual-scroll-viewport itemSize="autosize" class="history-wrapper">
  <div *cdkVirtualFor="let hVideo of displayedHistory; templateCacheSize:10" class="history-element">
    <div class="history-thumbnail-container">
      <img [src]="hVideo.iconUrl" (click)="triggerStartImmediately(hVideo)">
    </div>

    <div class="description">
      <span class="title" [innerHTML]="hVideo.title" (click)="triggerStartImmediately(hVideo)"></span>
      <span class="channelTitle" [innerHTML]="hVideo.channelTitle" (click)="triggerStartImmediately(hVideo)"></span>
    </div>
    
    <a class="direct-video-link" [href]="hVideo | videoLink" target="_blank"></a>
  </div>
</cdk-virtual-scroll-viewport>