<div class="userlist" [@opInSlow] *ngFor="let user of sortedUsers; let i = index"
[ngClass]="i === 0 ? 'activeUser' : ''">
<div class="user-container">
  <div (click)="i === 0 ? toggleDisplayIconEditor() : ''" class="toggle-edit"><img [src]="user?.iconUrl">
  </div>
  <span *ngIf="i > 0">{{user?.name }}</span>
  <div id="userNameInputField" class="local-user-name-readonly"
    *ngIf="i === 0 && !userNameInputFieldIsRevealed" (click)="displayUserNameInputField(true)"><span
      id="readOnlyUserName">{{user?.name }}</span>
    <div id="editUserName" class="edit-username-icon"></div>
  </div>
  <input id="changeUsernameInputField" class="username-inputfield"
    *ngIf="i === 0 && userNameInputFieldIsRevealed" (keyup.enter)="triggerChangeUserName()"
    (clickOutside)="clickOutsideUserNameInputField($event)" [(ngModel)]="localUserNameCopy">
  <div class="online-since">{{ 'contact_online_time' | tl8 }} {{ user?.onlineSince | date: 'hh:mm' }}</div>
</div>
<app-iconeditor class="icon-editor" [@opOut] *ngIf="displayIconEditor && i === 0">
</app-iconeditor>
</div>
