.userlist {
    position: relative;
    display: grid;
    grid-template-columns: auto 3fr auto;
    margin: 15px 0 10px 0;
    .user-container {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 65px 175px 70px;
      span {
        margin: 0 10px 0 15px;
        font-size: 14px;
      }

      .local-user-name-readonly {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover .edit-username-icon {
          opacity: 1;
        }

        span {
          width: 80%;
          font-size: 14px;
          margin: 0 10px 0 15px;
        }

        .edit-username-icon {
          transition: all 0.3s ease-in-out;
          margin: 10px;
          opacity: 0;
          height: 30px;
          width: 30px;
          background-size: 20px;
          background-image: url(../../assets/icons/icon-edit.svg);
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 3px;
        }
      }

      .username-inputfield {
        color: var(--text-primary);
        margin: 0 10px 0 15px;
        outline: none;
        transition: all 0.1s ease-in-out;
        background: none;
        font-size: 14px;
      }
    }
    &.activeUser {
      .user-container {
      }
      .toggle-edit {
        position: relative;
        width: 50px;
        height: 50px;
        margin-left: 15px;
        cursor: pointer;
        &:hover:after {
          opacity: 1;
        }
        &:after {
          content: "";
          position: absolute;
          background-size: 24px;
          height: 50px;
          width: 50px;
          background: url(../../assets/icons/icon-edit.svg) 50% 50% var(--container-background) no-repeat;
          background-size: 24px;
          opacity: 0;
          left: 0;
          top: 0;
          transition: 0.2s ease-in;
          pointer-events: none;
        }
      }

      span,
      .online-since {
        color: var(--main-color);
      }
    }
    .toggle-edit {
      position: relative;
      width: 50px;
      height: 50px;
      margin-left: 15px;
    }
    span {
      align-self: center;
      color: var(--text-primary);
    }
    img {
      width: 50px;
      border-radius: 3px;
    }
    .online-since {
      font-size: 11px;
      align-self: center;
      width: 75px;
      padding-right: 15px;
      color: var(--text-primary);
    }
  }
  .icon-editor {
    width: 100%;
    margin-top: 15px;
    grid-column: 1 / 4;
  }