<div class="wrapper-chat"
  [ngClass]="[chatToggle ? 'open' : '', userListOpened ? 'userlist' : '', closed ? 'closed' : '']">
  <div class="tabbar-container">
    <div class="tabbar">

      <div tabindex="0" class="open-chat" (click)="chatToggleBtnOpen()" (keydown.enter)="chatToggleBtnOpen()">
        <div class="icon">
          <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30"
            style="enable-background:new 0 0 30 30;" xml:space="preserve">
            <circle id="circle1" class="circle" cx="7.5" cy="12.5" r="1.5" />
            <circle id="circle2" class="circle" cx="12.5" cy="12.5" r="1.5" />
            <circle id="circle3" class="circle" cx="17.5" cy="12.5" r="1.5" />
            <circle id="circle4" class="circle" cx="22.5" cy="12.5" r="1.5" />
            <path id="bubble" class="bubble"
              d="M4,1h22c1.7,0,3,1.3,3,3v17c0,1.7-1.3,3-3,3H14l-7,5v-5H4c-1.7,0-3-1.3-3-3V4C1,2.3,2.3,1,4,1z" />
          </svg>
        </div>
        <span *ngIf="unseenMsgCounter > 0">
          {{unseenMsgCounterString}}
        </span>
      </div>
      <div tabindex="0" class="userlist-tab" (click)="userListToggle()" (keydown.enter)="userListToggle()">
        <div class="icon"><svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25"
            style="enable-background:new 0 0 25 25;" xml:space="preserve">
            <g>
              <path id="body11" class="path" d="M16.9,21.7l-3.5,1.1c-0.6,0.2-1.2,0.2-1.8,0l-3.5-1.1C6.9,21.3,6,20.1,6,18.8V17c0-1.7,1.3-3,3-3h7
             c1.7,0,3,1.3,3,3v1.8C19,20.1,18.1,21.3,16.9,21.7z" />
              <path id="head11" class="path" d="M12.5,11.5c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S14.2,11.5,12.5,11.5" />
            </g>

            <g>
              <path id="body12" class="path" d="M3.1,19.7C1.9,19.3,1,18.1,1,16.8V15c0-1.7,1.3-3,3-3h2" />
              <path id="head12" class="path" d="M6.7,9.4C5.4,9,4.5,7.9,4.5,6.5c0-1.7,1.3-3,3-3c0.6,0,1.1,0.2,1.6,0.4" />
            </g>

            <g>
              <path id="body13" class="path" d="M21.9,19.7c1.3-0.4,2.1-1.6,2.1-2.9V15c0-1.7-1.3-3-3-3h-2" />
              <path id="head13" class="path"
                d="M18.3,9.4c1.3-0.4,2.2-1.5,2.2-2.9c0-1.7-1.3-3-3-3c-0.6,0-1.1,0.2-1.6,0.4" />
            </g>

          </svg></div>
        <span>{{sortedUsers.length}}</span>
      </div>
      <div tabindex="0" class="close-chat" (click)="chatToggleBtnClose()"
        (keydown.enter)="chatToggleBtnClose()">
        <div class="icon"></div>
      </div>
    </div>
  </div>
  <div class="app-wrapper">
    <div class="app-container">
      <div class="userlist-open">
        <app-userlist></app-userlist>
      </div>
      <app-chat [displayedChatMessages]="chatMessages" class="chat-container"></app-chat>
      <div class="userlist-closed" (click)="chatToggleBtnOpen()">
        <div class="user" [@opInSlow] [class.highlight-local-user-small]="user?.id === localUser?.id"
          *ngFor="let user of sortedUsers"><img [src]="user?.iconUrl">
        </div>
      </div>
    </div>
  </div>

</div>
