$chat-open: 310px;
$chat-closed: 90px;
$animation: 0.2s ease;
$icons: 25px;

.wrapper-chat {
  width: $chat-closed;
  transition: width 0.4s ease;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
  border-radius: 3px;
  background: var(--light-black);
  &.closed:hover {
    animation: wobble 0.8s ease-in forwards;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-2%);
  }
  20% {
    transform: translateX(2%);
  }
  30% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0%);
  }
}

.wrapper-chat.open {
  height: 100%;
  transition: 0.4s ease;
  width: $chat-open;
}


.app-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  width: $chat-closed;
}

.open .app-wrapper {
  width: $chat-open;
}

.app-container {
  width: calc(2 * #{$chat-open} + #{$chat-closed});
  height: 100%;
  display: flex;
  grid-template-columns: 1fr 1fr $chat-closed;
  grid-template-rows: 1fr;
  margin-left: 0%;
  transition: 0.2s ease-out;
  position: absolute;
}

.chat-container {
  opacity: 0;
  transition-delay: 0.7s;
  transition: 0.4s;
}

.user {
  width: calc(#{$chat-closed} - 30px);
  height: calc(#{$chat-closed} - 30px);
  margin: 16px auto;
  background: var(--tab-inactive);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
  img {
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }
}

.open .app-container {
  margin-left: calc(#{$chat-open} * (-1));
  .userlist-open {
    width: $chat-open;
    opacity: 0;
    transition: 0.4s;
    transition-delay: 0.1s;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.open.userlist .app-container {
  margin-left: 0px;
}

.closed {
  &:hover .tabbar .open-chat .icon svg {
    .bubble {
      stroke: var(--icon-tabs);
    }
    .circle {
      fill: var(--icon-tabs);
    }
  }

  .tabbar .open-chat .icon svg {
    .bubble {
      stroke: var(--icon-tabs-inactive);
      transition: 0.2s;
    }
    .circle {
      fill: var(--icon-tabs-inactive);
      transition: 0.2s;
    }
  }
}

.userlist-closed {
  opacity: 0;
  transition: 0.4s;
  transition-delay: 0.1s;
}

.closed .app-container {
  right: 0;
  .userlist-open {
    width: $chat-open;
    opacity: 0;
    transition: 0s;
  }
  .userlist-closed {
    width: $chat-closed;
    opacity: 1;
  }
  .chat-container {
    opacity: 0;
    transition: 0.2s;
  }
}

/* User List */

.userlist-big {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

/* Tab Bar */

/* Toggle */
.closed .tabbar .open-chat span {
  margin: 9px 0 0 calc((#{$chat-open} / 2) - 108px);
}

.tabbar {
  height: 55px;
  display: grid;
  grid-template-columns: 0px 0px 90px;

  color: var(--text-primary);
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  .open-chat {
    width: $chat-closed;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 4;
    .icon {
      width: $icons;
      height: $icons;
      margin: 0 auto;
      position: relative;
      svg {
        width: 30px;
        .circle {
          fill: var(--main-color);
          stroke-width: 1;
          transition: fill 0.2s;
        }
        #circle1,
        #circle3 {
          opacity: 0.7;
        }
        #circle4 {
          opacity: 0.5;
        }
        .bubble {
          fill: none;
          stroke: var(--main-color);
          stroke-width: 2;
          stroke-linejoin: round;
          transition: fill 0.2s;
        }
      }
    }

    span {
      width: 18px;
      height: 18px;
      position: absolute;
      background: var(--main-color);
      border-radius: 9px;
      line-height: 1.3;
      text-align: center;
      color: #2b2b2b;
      font-weight: bold;
      font-size: 14px;
      margin: 9px 0 0 calc((#{$chat-open} / 2) - 90px);
      animation: example 0.2s ease-out;
    }
    @keyframes example {
      0% {
        transform: scale(0);
      }
      50% {
        transform: scale(1);
      }
      75% {
        transform: scale(0.7);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  .open-chat .close-chat {
    width: 0px;
    overflow: hidden;
    display: flex;
    place-content: center;
    cursor: pointer;
  }
  .close-chat {
    &:hover .icon {
      background: var(--icon-tabs);
    }
    &:active:hover .icon {
      background: var(--main-color);
    }
    .icon {
      mask: url(../../assets/icons/icon-close.svg) no-repeat center;
      mask-size: 25px;
      background: var(--icon-tabs-inactive);
      opacity: 0;
      width: $icons;
      height: $icons;
      align-self: center;
      transition: background 0.2s;
    }
  }

  .userlist-tab {
    color: var(--icon-tabs);
    font-family: "Cairo", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    opacity: 0;
    transition: $animation;
    align-items: center;
    //background: var(--light-black);
    cursor: pointer;
    svg {
      .path {
        fill: none;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke: var(--icon-tabs-inactive);
        transition: stroke 0.2s;
      }
    }
    &:hover .icon svg {
      .path {
        stroke: var(--icon-tabs);
      }
    }
    &:active:hover .icon svg {
      .path {
        stroke: var(--main-color);
      }
    }
    span {
      width: 18px;
      height: 18px;
      position: absolute;
      background: var(--main-color);
      border-radius: 9px;
      line-height: 1.3;
      text-align: center;
      color: #2b2b2b;
      margin: 12px 0 0 calc((#{$chat-open} / 2) - 90px);
      font-weight: bold;
      font-size: 14px;
    }
    .icon {
      width: $icons;
      height: $icons;
      opacity: 0;
      margin: 0 auto;
      position: relative;
      transition: 0.2s ease;
    }
  }
}

.open.userlist {
  .icon svg .path {
    stroke: var(--main-color);
  }
  .open-chat {
    background: var(--tab-inactive);
    box-shadow: var(--box-shadow-left);
    .icon svg {
      .bubble {
        stroke: var(--icon-tabs-inactive);
      }
      .circle {
        fill: var(--icon-tabs-inactive);
      }
    }
    &:hover .icon svg {
      .bubble {
        stroke: var(--icon-tabs);
      }
      .circle {
        fill: var(--icon-tabs);
      }
    }
    &:active:hover .icon svg {
      .bubble {
        stroke: var(--main-color);
      }
      .circle {
        fill: var(--main-color);
      }
    }
  }
  .close-chat {
    box-shadow: var(--box-shadow-right);
  }
  .userlist-tab {
    background: none;
    box-shadow: none;
    &:hover .icon svg .path {
      stroke: var(--main-color);;
      
    }
  }
}

.open {
  .open-chat {
    width: auto;
  }
  .tabbar {
    grid-template-columns: 1fr 1fr 60px;
  }
  .tabbar .icon {
    opacity: 1;
  }
  .close-chat {
    width: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: var(--tab-inactive);
    box-shadow: var(--box-shadow-middle);
  }
  .userlist-tab {
    width: 125px;
    opacity: 1;
    background: var(--tab-inactive);
    box-shadow: var(--box-shadow-right);
  }
}

/* Border */

.closed .close-chat {
  border-left: none;
}

.open-chat {
  border-right: 1px solid var(--border-left);
}
.close-chat {
  border-left: 1px solid var(--border-right);
}
.userlist-tab {
  border-right: 1px solid var(--border-left);
  border-left: 1px solid var(--border-right);
}

.highlight-local-user {
  //background-color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.highlight-local-user-small {
  background: var(--main-color);
  color: var(--ui-solid);
}
