<div class="wrapper">
  <div class="app-control">

    <div id="search-tab"
         (cdkDropListEntered)="enteredSearchTabWhileDragging($event)"
         cdkDropList
         cdkDropListConnectedTo="search_results_container"
         [class.active]="controlState === 'search'"
         (click)="openSearchTab()"
         class="control search">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
        <style type="text/css">

        </style>
        <circle class="path" cx="10.5" cy="10.5" r="8.5"/>
        <g>
          <path class="circle"
                d="M23,24c-0.3,0-0.5-0.1-0.7-0.3l-7-7c-0.4-0.4,0.6,0,1-0.4s0-1.4,0.4-1l7,7c0.4,0.4,0.4,1,0,1.4C23.5,23.9,23.3,24,23,24z"/>
        </g>
      </svg>
    </div>


    <div id="playlist-tab"
         (cdkDropListEntered)="enteredPlaylistTabWhileDragging($event)"
         cdkDropList
         cdkDropListConnectedTo="search_results_container"
         [class.active]="controlState === 'playlist'"
         (click)="openPlaylistTab()"
         class="control playlist">
      <svg version="1.1" id="playlist" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px" viewBox="0 0 24 25" style="enable-background:new 0 0 24 25;" xml:space="preserve">
        <rect id="path11" x="1" y="9" class="path" width="22" height="15"/>
        <polyline id="path12" class="path" points="3,6 3,6 21,6 21,6 "/>
        <polyline id="path13" class="path" points="6,3 6,3 18,3 18,3 "/>
        <polyline id="path22" style="visibility:hidden" class="path" points="3,6 3,3 21,3 21,6 "/>
        <polyline id="path23" style="visibility:hidden" class="path" points="6,3 6,1 18,1 18,3 "/>
      </svg>
      <span id="text">{{playlist.length}}</span>
    </div>

    <div [class.active]="controlState === 'chat'" (click)="openChatTab()" class="control chat">
      <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
        <circle id="circle1" class="circle" cx="7.5" cy="12.5" r="1.5"/>
        <circle id="circle2" class="circle" cx="12.5" cy="12.5" r="1.5"/>
        <circle id="circle3" class="circle" cx="17.5" cy="12.5" r="1.5"/>
        <circle id="circle4" class="circle" cx="22.5" cy="12.5" r="1.5"/>
        <path id="bubble" class="path"
              d="M4,1h22c1.7,0,3,1.3,3,3v17c0,1.7-1.3,3-3,3H14l-7,5v-5H4c-1.7,0-3-1.3-3-3V4C1,2.3,2.3,1,4,1z"/>
      </svg>
      <span *ngIf="unseenMsgCounter > 0">
        {{unseenMsgCounterString}}
      </span>
    </div>


    <div [class.active]="controlState === 'userlist'" (click)="openUserListTab()" class="control userlist">
      <svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
           y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve">
        <g>
          <path id="body11" class="path" d="M16.9,21.7l-3.5,1.1c-0.6,0.2-1.2,0.2-1.8,0l-3.5-1.1C6.9,21.3,6,20.1,6,18.8V17c0-1.7,1.3-3,3-3h7
             c1.7,0,3,1.3,3,3v1.8C19,20.1,18.1,21.3,16.9,21.7z"/>
          <path id="head11" class="path" d="M12.5,11.5c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S14.2,11.5,12.5,11.5"/>
        </g>

        <g>
          <path id="body12" class="path" d="M3.1,19.7C1.9,19.3,1,18.1,1,16.8V15c0-1.7,1.3-3,3-3h2"/>
          <path id="head12" class="path" d="M6.7,9.4C5.4,9,4.5,7.9,4.5,6.5c0-1.7,1.3-3,3-3c0.6,0,1.1,0.2,1.6,0.4"/>
        </g>

        <g>
          <path id="body13" class="path" d="M21.9,19.7c1.3-0.4,2.1-1.6,2.1-2.9V15c0-1.7-1.3-3-3-3h-2"/>
          <path id="head13" class="path" d="M18.3,9.4c1.3-0.4,2.2-1.5,2.2-2.9c0-1.7-1.3-3-3-3c-0.6,0-1.1,0.2-1.6,0.4"/>
        </g>

      </svg>
      <span>{{sortedUsers.length}}</span>
    </div>


    <div [class.active]="controlState === 'history'" (click)="openHistoryTab()" class="control history">
      <svg id="historysvg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
        <line id="hours" class="path" x2="16" y2="10" x1="16" y1="16"/>
        <line id="minutes" class="path" x1="16" y1="16" x2="19" y2="20"/>
        <g id="circle">
          <polyline class="path" points="1,14 5,18 9,14 	"/>
          <path class="path" d="M5.4,13C6.7,8.4,11,5,16,5c6.1,0,11,4.9,11,11s-4.9,11-11,11c-3.9,0-7.4-2-9.3-5.1"/>
        </g>

      </svg>
    </div>
  </div>
  <div [ngClass]="controlState" class="app-wrapper">
    <div class="inner">
      <app-history [displayedHistory]="history" [@slidePageInLeft]="slideDirection" class="page"
                   *ngIf="currentTabIndex === 4"></app-history>
      <app-userlist [@slidePageInRight]="slideDirection" [@slidePageInLeft]="slideDirection" class="page"
                    *ngIf="currentTabIndex === 3"></app-userlist>
      <app-chat [displayedChatMessages]="chatMessages" [@slidePageInRight]="slideDirection"
                [@slidePageInLeft]="slideDirection" class="page"
                *ngIf="currentTabIndex === 2"></app-chat>
      <div [@slidePageInRight]="slideDirection" [@slidePageInLeft]="slideDirection" *ngIf="currentTabIndex === 1"
           class="page grid-container">
        <div class="scroll-container">
          <app-playlist [displayedPlaylist]="playlist"></app-playlist>
        </div>
        <app-playlist-controls></app-playlist-controls>
      </div>
      <div [@slidePageInRight]="slideDirection" [class.hide-me]="currentTabIndex !== 0"
           class="page grid-container">
        <app-searchresult class="scroll-container"></app-searchresult>
        <input class="search-text-input" type="text" #searchInput
               (keyup.enter)="triggerSearchInput(searchInput.value, $event)"
               placeholder="{{ 'search' | tl8 }} {{selectedDataApi?.additionalFileTypeInfo}}">
      </div>
    </div>
  </div>
</div>
