.wrapper {
  display: grid;
  grid-template-rows: 50px 1fr;
  background: var(--light-black);
  height: 100%;

  .app-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .control {
      display: flex;
      justify-content: center;
      background: var(--tab-inactive);
      box-shadow: inset 2px -21px 8px -24px rgba(0, 0, 0, 0.75);
      cursor: pointer;

      span {
        width: 16px;
        height: 16px;
        background-color: var(--main-color);
        border-radius: 8px;
        line-height: 16px;
        font-size: 10px;
        font-family: "Cairo", sans serif;
        font-weight: 800;
        text-align: center;
        position: absolute;
        margin: 27px 0 0 10px;
      }

      svg {
        .path {
          fill: none;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke: var(--icon-tabs-inactive);
          transition: stroke 0.2s;
        }

        .circle {
          fill: var(--icon-tabs-inactive);
          transition: fill 0.2s;
        }
      }

      &.search {
        svg {
          width: 30px;
        }
      }

      &.chat {
        svg {
          width: 30px;
        }
      }

      &.userlist {
        svg {
          width: 25px;
        }
      }

      &.playlist {
        &.active {
          span {
            color: var(--main-color);
          }
        }

        span {
          background: none;
          margin: 21px 0 0 0;
          color: var(--icon-tabs-inactive);
        }

        svg {
          width: 24px;
        }
      }

      &.history {
        svg {
          width: 32px;
        }
      }

      &.active {
        background: none;
        box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.75);

        svg {
          .path {
            stroke: var(--main-color);
          }

          .circle {
            fill: var(--main-color);
          }
        }
      }
    }
  }

  .app-wrapper {
    position: relative;
    overflow-x: hidden;

    .inner {
      position: absolute;
      display: flex;
      width: 200vw;
      height: 100%;

      .page {
        width: 100vw;
        height: 100%;
        opacity: 0;
        animation: page-animation 0.5s forwards;
      }

      @keyframes page-animation {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .scroll-container {
        overflow-y: auto;
      }

      .search-text-input {
        border: none;
        outline: none;
        padding: 15px;
        background: white;
        font-size: 16px;
        font-family: "Cairo";
      }

      .grid-container {
        display: grid;
        grid-template-rows: 1fr auto;
        height: 100%;
      }
    }
  }
}

.hide-me {
  display: none !important;
}
