.bg-highlight {
  background-color: var(--ui-highlight);
}

.playlist-elements-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pl-elem {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 125px 3fr;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.3px;
  .playlist-thumbnail-container {
    z-index: 100;
    width: 100%;
    height: 0;
    padding-bottom: 54%;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    img {
      width: 100%;
      align-self: center;
      clip-path: polygon(0 14%, 100% 14%, 100% 86%, 0% 86%);
      margin: -10% 0 0 0;
    }
  }

  h3 {
    font-family: "Cairo", sans-serif;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
    color: var(--text-primary);
    align-self: end;
  }
  .description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 0 0 0 10px;
  }
  &:hover {
    background-color: var(--ui-highlight);
    .meta .delete {
      opacity: 1;
    }
  }

  .meta {
    font-size: 11px;
    display: flex;
    color: var(--inactive);
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    .channel-title {
      margin-right: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .createdAt {
      margin-right: 10px;
    }
    .delete {
      margin-left: auto;
      opacity: 0;
      transition: 0.2s;
      &:hover {
        color: var(--main-color);
      }
    }
  }

}

.dropzone {
  position: relative;
  margin: 20px;
  height: 100px;
  color: var(--white-transparent);
  font-size: 14px;
  display: flex;
  justify-content: center;
  &:after {
    transition: all 0.6s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //TODO BACKGROUND? braucht man das überhaupt
  }

  span {
    align-self: center;
    font-family: "Cairo", sans-serif;
  }
}

.cdk-drop-list {
  overflow-y: auto;
  height: 100%;
  scrollbar-color: var(--main-color) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

.cdk-drag-preview {
  color: #fff;
  background: rgb(49, 50, 51);
  transition: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/*
.cdk-drag-placeholder {
    background: var(--ui-highlight);
    border-right: dotted 2px var(--main-color);
    border-left: dotted 2px var(--main-color);
    height: auto;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}*/

.pl-elem:last-child {
  border: none;
}

.pl-elem {
  animation: toVisible 0.35s ease-in-out;
  &:first-child {
    margin-top: 15px;
  }
}

.virtual-scroll-container {
  height:100%;
}
