<div class="playlist-elements-container">

  <cdk-virtual-scroll-viewport itemSize="75" class="virtual-scroll-container" id="playlist_container"
    [cdkDropListData]="playlist" (cdkDropListDropped)="dropSearchResult($event)" cdkDropList
    cdkDropListConnectedTo="search_results_container">
    <div (click)="triggerStartClickedVideo(video)" cdkDrag [cdkDragStartDelay]="dragDelay" class="pl-elem"
      *cdkVirtualFor="let video of displayedPlaylist; templateCacheSize:10"
      [ngClass]="isCurrentVideo(video) ? 'bg-highlight' : ''">
      <div class="playlist-thumbnail-container">
        <img [src]="video?.iconUrl">
      </div>
      <div class="description">
        <h3  [innerHTML]="video.title"></h3>
        <div class="meta">
          <span class="channel-title">{{video.channelTitle}}</span>
          <span class="createdAt">{{video.createdAt | date: 'dd.MM.yy'}}</span>
          <span class="delete" (click)="triggerDeleteClickedVideo(video)">{{ 'delete' | tl8 }}</span>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

</div>