<div class="wrapper" [class.searchresult-spinner]="!overAll" [class.stretched]="overAll" [class.mobile]="mobile">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <span>{{ text | tl8}}</span>
</div>
