/* Playlist */
.playlist-controller {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 55px;
  .btn-control {
    position: relative;
    height: 100%;
    width: 100%;
    border-left: 1px solid;
    border-image: var(--border-left);
    border-right: 1px solid var(--border-left);
    background: var(--playlist-controller);
    display: flex;
    &:after {
      content: "";
      display: block;
      background: var(--playlist-controller-hover);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.3s;
      z-index: 0;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
    &:before {
      content: "";
      display: block;
      background: var(--playlist-controller-active);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.2s;
      z-index: 1;
    }
    &:active {
      &:before {
        opacity: 1;
      }
    }
  }

  .btn-control:first-child {
    border-left: none;
  }
  .backwards {
    mask: url(../../assets/icons/icon-backwards.svg) no-repeat;
  }
  .forwards {
    mask: url(../../assets/icons/icon-forward.svg) no-repeat;
  }
  .shuffle {
    mask: url(../../assets/icons/icon-shuffle.svg) no-repeat;
    mask-size: 22px 16px;
  }
  .no-shuffle {
    mask: url(../../assets/icons/icon-noShuffle.svg) no-repeat;
    mask-size: 22px 16px;
  }
  .repeat,
  .no-repeat {
    mask: url(../../assets/icons/icon-repeat.svg) no-repeat 50% 50%;
    mask-size: 21px 21px;
  }

  .one-repeat {
    mask: url(../../assets/icons/icon-oneRepeat.svg) no-repeat 50% 50%;
    mask-size: 21px 21px;
  }
  .delete {
    mask: url(../../assets/icons/icon-delete.svg) no-repeat 50% 50%;
  }
  .icon {
    background: var(--playlist-control);
    height: 100%;
    width: 100%;
    mask-position: center;
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  .icon.no-repeat {
    background: var(--playlist-control);
  }

  .icon:active {
    transform: scale(0.95);
  }

  .icon:hover,
  .one-repeat,
  .shuffle,
  .repeat {
    background: var(--playlist-control-hover);
  }
}
.tooltip {
  position: absolute;
  text-align: center;
  min-width: 186px;
  max-width: 400px;
  top: -15px;
  left: -80px;
  transform: translate(-30%, -100%);
  padding: 10px;
  color: white;
  background-color: var(--ui-solid);
  font-size: 13px;
  border-radius: 3px;
  z-index: 1500;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
  &:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    right: 5px;
    bottom: -14px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--ui-solid);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
  }
  .YN-Btn-Wrapper {
    display: flex;
    justify-content: center;
    margin: 10px auto 5px;
    transition: 0.3s;
    .YN-Btn {
      width: 50px;
      height: 28px;
      border: 2px solid var(--text-primary);
      border-radius: 3px;
      margin: 0 5px;
      line-height: 23px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        border: 2px solid var(--main-color);
        color: var(--main-color);
      }
    }
  }
}
