<div class="playlist-controller">
  <div tabindex="0" class="btn-control" (click)="triggerStartPreviousVideo()"
       (keydown.enter)="triggerStartPreviousVideo()">
    <div class="icon backwards"></div>
  </div>
  <div tabindex="0" class="btn-control" (click)="triggerStartNextVideo()"
       (keydown.enter)="triggerStartNextVideo()">
    <div class="icon forwards"></div>
  </div>
  <div tabindex="0" class="btn-control" (click)="triggerTogglePlaylistOrder()"
       (keydown.enter)="triggerTogglePlaylistOrder()">
    <div *ngIf="playlistState?.order == 'random-order'" class="icon shuffle"></div>
    <div *ngIf="playlistState?.order == 'sequence-order'" class="icon no-shuffle"></div>
  </div>
  <div tabindex="0" class="btn-control" (click)="triggerTogglePlaylistRepetition()"
       (keydown.enter)="triggerTogglePlaylistRepetition()">
    <div *ngIf="playlistState?.repeat == 'repeat-all'" class="icon repeat"></div>
    <div *ngIf="playlistState?.repeat == 'repeat-one'" class="icon one-repeat"></div>
    <div *ngIf="playlistState?.repeat == 'no-repeat'" class="icon no-repeat"></div>
  </div>
  <div tabindex="0" class="btn-control" (keydown.enter)="toggleTooltip()">
    <div *ngIf="tooltip" (clickOutside)="clickOutsideToolTip($event)" class="tooltip">
      <span>{{ 'check_delete_playlist' | tl8 }}</span>
      <div class="YN-Btn-Wrapper">
        <a tabindex="0" (click)="agreePlaylistClearing()" (keydown.enter)="agreePlaylistClearing()"
           class="YN-Btn">
          {{ 'yes' | tl8 }}
        </a>
        <a tabindex="0" (click)="disagreePlaylistClearing()" (keydown)="disagreePlaylistClearing()"
           class="YN-Btn">
          {{ 'no' | tl8 }}
        </a>
      </div>
    </div>
    <div tabindex="0" id="delete-button-id" (click)="toggleTooltip()" class="icon delete"></div>
  </div>
</div>
