<div [ngClass]="[tabToggle ? 'playlist' : 'history']" class="wrapper">
  <div class="app-toggle">
    <div tabindex="0" class="playlist-btn" (click)="tabTogglePlaylist()"
      (keydown.enter)="tabTogglePlaylist()">
      <svg version="1.1" id="playlist" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 25"
        style="enable-background:new 0 0 24 25;" xml:space="preserve">
                <rect id="path11" x="1" y="9" class="line" width="22" height="15" />
        <polyline id="path12" class="line" points="3,6 3,6 21,6 21,6 " />
        <polyline id="path13" class="line" points="6,3 6,3 18,3 18,3 " />


        <polyline id="path22" style="visibility:hidden" class="line" points="3,6 3,3 21,3 21,6 " />
        <polyline id="path23" style="visibility:hidden" class="line" points="6,3 6,1 18,1 18,3 " />
      </svg>
      <div id="text"> {{playlist.length}}</div>
      <span>Playlist</span>
    </div>
    <div tabindex="0" class="history-btn" (click)="tabToggleHistory()" (keydown.enter)="tabToggleHistory()">
      <svg id="historysvg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
        <line id="hours" class="line" x2="16" y2="10" x1="16" y1="16" />
        <line id="minutes" class="line" x1="16" y1="16" x2="19" y2="20" />
        <g id="circle">
          <polyline class="line" points="1,14 5,18 9,14 	" />
          <path class="line" d="M5.4,13C6.7,8.4,11,5,16,5c6.1,0,11,4.9,11,11s-4.9,11-11,11c-3.9,0-7.4-2-9.3-5.1" />
        </g>

      </svg>
      <span>History</span>
    </div>
  </div>
  <div class="app-wrapper">
    <div class="app-container">
      <app-history [displayedHistory]="history" class="app-history"></app-history>
      <app-playlist class="app-playlist" [displayedPlaylist]="playlist"></app-playlist>
    </div>
  </div>
  <app-playlist-controls *ngIf="tabToggle"></app-playlist-controls>
</div>
