.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 1fr 55px;
  height: 100%;
  min-width: 310px;
  overflow: hidden;
  border-radius: 3px;
  background: var(--light-black);
  .app-toggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55px;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    span {
      align-self: center;
      line-height: 22px;
      font-size: 16px;
      color: var(--icon-tabs-inactive);
      transition: 0.2s ease-in;
    }
    span:hover {
      color: var(--text-primary);
    }
    .playlist-btn {
      position: relative;
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s ease-in;
      border-right: 1px solid var(--border-left);
      &:focus {
        animation: test 2s;
      }

      span {
        margin-left: 10px;
      }
      svg {
        width: 24px;
        .line {
          fill: none;
          stroke: var(--icon-tabs-inactive);
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
          transition: stroke 0.2s;
        }
      }

      &:hover {
        svg .line {
          stroke: var(--icon-tabs);
        }
        span {
          color: var(--icon-tabs);
        }
        div {
          color: var(--icon-tabs);
        }
      }
      div {
        position: absolute;
        top: 20px;
        left: 33px;
        color: var(--icon-tabs-inactive);
        font-size: 12px;
        width: 28px;
        text-align: center;
        transition: color 0.2s;
      }
    }
    .history-btn {
      display: flex;
      justify-content: center;
      border-left: 1px solid var(--border-right);
      cursor: pointer;
      transition: 0.2s ease-in;
      span {
        margin-left: 5px;
      }
      svg {
        width: 32px;
        .line {
          fill: none;
          stroke: var(--icon-tabs-inactive);
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
          transition: stroke 0.2s;
        }
      }
      &:hover {
        span {
          color: var(--icon-tabs);
        }
        svg {
          .line {
            stroke: var(--text-primary);
          }
        }
      }
    }
  }

  &.playlist .app-toggle .playlist-btn {
    svg .line {
      stroke: var(--main-color);
    }
    span,
    div {
      color: var(--main-color);
    }
  }
  &.playlist .app-toggle .history-btn {
    background: var(--tab-inactive);
    box-shadow: var(--box-shadow-right);
  }
  &.history .app-toggle .playlist-btn {
    background: var(--tab-inactive);
    box-shadow: var(--box-shadow-left);
  }
  &.history .app-toggle .history-btn {
    svg .line {
      stroke: var(--main-color);
    }
    span {
      color: var(--main-color);
    }
  }
  /* App */

  .app-wrapper {
    max-height: 78vh;
    overflow: hidden;
    position: relative;

    transition: 0.2s ease-in;
    .app-container {
      position: absolute;
      width: 200%;
      height: 100%;
      display: flex;
      transition: 0.2s ease-out;
      margin-left: -100%;
    }
    .app-playlist {
      display: block;
      overflow-y: auto;
      width: 310px;
      transition: 0.4s ease-in;
      transition-delay: 0.1s;
      opacity: 1;
    }
    .app-history {
      display: block;
      overflow-y: auto;
      width: 310px;
      transition: 0.4s ease-in;
      transition-delay: 0.1s;
      opacity: 1;
    }
  }

  &.history .app-wrapper .app-container {
    margin-left: 0;
    .app-playlist {
      opacity: 0;
      transition-delay: 0ms;
    }
  }

  &.playlist .app-wrapper .app-container .app-history {
    opacity: 0;
    transition-delay: 0ms;
  }

  /* Playlist */
  .playlist-controller {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 55px;
    .btn-control {
      position: relative;
      height: 100%;
      width: 100%;
      border-left: 1px solid;
      border-image: var(--border-left);
      border-right: 1px solid var(--border-left);
      background: var(--playlist-controller);
      display: flex;
      &:after {
        content: "";
        display: block;
        background: var(--playlist-controller-hover);
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
        z-index: 0;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
      &:before {
        content: "";
        display: block;
        background: var(--playlist-controller-active);
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.2s;
        z-index: 1;
      }
      &:active {
        &:before {
          opacity: 1;
        }
      }
    }

    .btn-control:first-child {
      border-left: none;
    }
    .backwards {
      mask: url(../../assets/icons/icon-backwards.svg) no-repeat;
    }
    .forwards {
      mask: url(../../assets/icons/icon-forward.svg) no-repeat;
    }
    .shuffle {
      mask: url(../../assets/icons/icon-shuffle.svg) no-repeat;
      mask-size: 22px 16px;
    }
    .no-shuffle {
      mask: url(../../assets/icons/icon-noShuffle.svg) no-repeat;
      mask-size: 22px 16px;
    }
    .repeat,
    .no-repeat {
      mask: url(../../assets/icons/icon-repeat.svg) no-repeat 50% 50%;
      mask-size: 21px 21px;
    }

    .one-repeat {
      mask: url(../../assets/icons/icon-oneRepeat.svg) no-repeat 50% 50%;
      mask-size: 21px 21px;
    }
    .delete {
      mask: url(../../assets/icons/icon-delete.svg) no-repeat 50% 50%;
    }
    .icon {
      background: var(--playlist-control);
      height: 100%;
      width: 100%;
      mask-position: center;
      cursor: pointer;
      transition: 0.2s ease-in;
    }
    .icon.no-repeat {
      background: var(--playlist-control);
    }

    .icon:active {
      transform: scale(0.95);
    }

    .icon:hover,
    .one-repeat,
    .shuffle,
    .repeat {
      background: var(--playlist-control-hover);
    }
  }
  .tooltip {
    position: absolute;
    text-align: center;
    min-width: 186px;
    max-width: 400px;
    top: -15px;
    left: -80px;
    transform: translate(-30%, -100%);
    padding: 10px;
    color: white;
    background-color: var(--ui-solid);
    font-size: 13px;
    border-radius: 3px;
    z-index: 1500;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    &:after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      right: 5px;
      bottom: -14px;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: var(--ui-solid);
      box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    }
    .YN-Btn-Wrapper {
      display: flex;
      justify-content: center;
      margin: 10px auto 5px;
      transition: 0.3s;
      .YN-Btn {
        width: 50px;
        height: 28px;
        border: 2px solid var(--text-primary);
        border-radius: 3px;
        margin: 0 5px;
        line-height: 23px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          border: 2px solid var(--main-color);
          color: var(--main-color);
        }
      }
    }
  }
}
