$toaster-width: 250px;
$toaster-height: 75px;

.toastr-elem {

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2000;
  width: $toaster-width;
  transition: 0.2s;
  color:var(--text-primary);
  font-size: 13px;
  position: relative;
  margin-bottom: 10px;
  svg {
    position: absolute;
    rect {
      fill: var(--toaster-bg);
      stroke-width: 2;
      stroke: var(--main-color);
      transform: scaleX(-1);
    }
  }
  .toastr-title {
  }

  .toastr-body {
    padding: 15px;
  }
  &:last-child {
    animation: toaster-bg 0.3s ease-out forwards;
    animation-delay: 1.3s;
    color: rgba(0,0,0,0);
    animation-iteration-count: 1;
    svg rect{
      animation: toaster-stroke 1.3s ease-out forwards;
      animation-iteration-count: 1;
      stroke-dasharray: 400%;
      stroke-dashoffset: 400%;
      animation-delay: 0.5s;
      fill: rgba(0,0,0,0);
    }
  }
}

.toastrs-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

}

@keyframes toaster-bg {
  0% {
    color: rgba(0,0,0,0);
  }
  100% {
    color: var(--text-primary);
  }
}

@keyframes toaster-stroke {
  0% {
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
  }
  80% {
    stroke-dasharray: 400%;
    stroke-dashoffset: 0%;
    fill: rgba(0,0,0,0);
  }
  100% {
    fill: var(--toaster-bg);
    stroke-dasharray: 400%;
    stroke-dashoffset: 0%;
  }
}

