<div class="toastrs-wrapper">

  <div (click)="removeToastr(toastr.id)"
       *ngFor="let toastr of toastrs" [ngClass]="toastr.css" class="toastr-elem">
       <svg width="100%" height="100%">
        <rect x="-249" y="1" width="248" height="98%" rx="3" ry="3" />
      </svg>
    <div class="toastr-title" [innerHTML]="toastr.title">
    </div>
    <div class="toastr-body" [innerHTML]="toastr.body">
    </div>
  </div>
</div>

