<p>Herzlich Willkommen auf Curview,</p>
  <p>hier könnt ihr mit euren freunden oder eurer Familie gemeinsam chatten und Videos anschauen. Aufgrund der derzeitigen Lage ist es schwer den Kontakt zu anderen so zu pflegen wie bisher. Deswegen wollen wir mit diesem Tool Menschen die Möglichkeit geben online gemeinsam in einem privaten Raum Videos und Musik zu genießen und sich darüber auszutauschen. Ihr könnt freunde über den Url-Link einladen oder selbst über diesen beitreten. Benutzt die Plattform bitte verantwortungsvoll. Verbeite keine verbotenen Inhalte und falls im Raum verbotene Inhalte (wie Spam, Viren, oder Material das Hass enthält) auftauchen, bitten wir dich uns über unsere Email zu benachrichten.
  Wir hoffen, dass Curview euch einander näher bringt und die Zeit in der wir nun alle stecken erträglicher macht. Achtet aufeinander und viel spaß mit Curview.</p>
