<div class="wrapper">
  <h2>Die Kernaussage</h2>
  <p>Wir ( die Betreiber von Curview ) haben uns als Freunde, die nicht mehr zusammen in einer Stadt leben, dazu entschieden eine soziale Video-Plattform zu bauen auf der wir gemeinsam und auch andere Menschen in privaten Räumen zusammen Videos schauen können. Wir wollten das
    Erlebnis, dass man früher gemeinsam vor dem Fernseher mit seinen Freunden hatte , mit diesem Tool online ermöglichen. Erstelle private Räume, schaue dir gemeinsam mit Freunden Videos an oder hört gemeinsam Musik. Lade Freunde oder Familie ein und tauscht euch aus. Du und deine Freunde habt in eurem erstellten Raum maximale Kontrolle über die Inhalte und so die Möglichkeit euch frei auszudrücken. Wir möchten dich trotzdem bitten, dich verantwortungsvoll zu verhalten und keine Inhalte zu teilen oder zu erstellen die gegen unsere Nutzungsbedingungen verstoßen. Wir dulden keine Inhalte wie Spam, Viren , Hassinhalte oder Material das gegen geltende Gesetze verstößt. Falls du Inhalte oder einem Raum entdecken solltest, der gegen unsere Geschäftsbedingungen verstößt, melde dich bei uns unter contact@curview.net. Wir hoffen, dass du von Curview begeistert bist und viel Spaß mit deinen Freunden erlebst.</p>

  <h2>Geschäftsbedingungen:</h2>
  <p>Die folgenden Geschäftsbedingungen sind maßgebend für die Nutzung der gesamten Curview Website und aller Inhalte, Dienstleistungen und Produkte, die auf oder über die Website zur Verfügung gestellt werden. Die Website wird angeboten vorbehaltlich der uneingeschränkten Zustimmung aller hierin enthaltenen Bedingungen und aller anderen sonstigen betrieblichen Regeln und Richtlinien (einschließlich, ohne Einschränkung, unserer Datenschutzrichtlinie.
    Bitte lies dir diese Vereinbarung sorgfältig durch, bevor du die Website verwendest oder darauf zugreifst. Durch die Nutzung oder den Zugriff auf einen Teil der Website stimmst du den Geschäftsbedingungen dieser Vereinbarung zu. Wenn du nicht allen Geschäftsbedingungen in dieser Vereinbarung zustimmst, dann darfst du nicht auf diese Seite zugreifen.
    Wenn du einen Raum auf der Website erstellst, bist du dafür verantwortlich, die Sicherheit deines
    Raumes aufrecht zu erhalten. Du bist außerdem verantwortlich für alle Aktivitäten, die in dem Raum ausgeführt werden, und alle anderen Aktionen, die im Zusammenhang mit dem Raum durchgeführt werden. Du musst Curview umgehend über eine unbefugte Nutzung deines Raumes oder über jeden anderen Sicherheitsverstoß informieren. Curview haftet nicht für Handlungen oder Unterlassungen deinerseits, einschließlich Schäden jeglicher Art, die infolge solcher Handlungen oder Unterlassungen eingetreten sind.

  <h2>Definitionen</h2>
  <p>In diesen Geschäftsbedingungen bezieht sich „du“ sowohl auf Einzelpersonen als auch auf
    juristische Personen, die unsere Website aufrufen oder verwenden. Wenn du eine Einzelperson bist,
    die Curview im Namen einer juristischen Person verwendet, versicherst und garantierst du, dass du
    befugt bist, diese juristische Person an diese Geschäftsbedingungen zu binden und dass du den
    Geschäftsbedingungen durch die Verwendung von Curview im Namen dieser juristischen Person
    zustimmst.

  <h2>Mindestalter</h2>
  <p>Unsere Dienste richten sich nicht an Kinder. Der Zugang zu und die Nutzung unserer Website ist nur für Personen über 16 Jahren in der Europäischen Union gedacht. Wenn du jünger bist, darfst du unsere Website nicht nutzen. Jede Person, die unsere Website nutzt , bestätigt, dass sie mindestens 16 Jahre alt ist.</p>

  <h2>Pflichten der Mitwirkenden/Website-Besucher</h2>
  <p>Wenn du einen Raum betreibst, order an einem Raum teilnimmst, Material oder Links in einem
    Raum veröffentlichst oder anderweitig Material über die Website zur Verfügung stellst (oder Dritte
    dazu berechtigst) (jegliches Material als „Inhalt“), bist du für dessen Inhalt und den aus diesem
    Inhalt resultierenden Schaden in vollem Umfang verantwortlich. Dies gilt, unabhängig davon, in
    welcher Form der Inhalt präsentiert wird, einschließlich, aber nicht beschränkt auf Text, Foto, Video, Audio oder Code. Indem du Inhalt zur Verfügung stellst, versicherst und garantierst du, dass dein Inhalt nicht gegen diese Geschäftsbedingungen verstößt.</p>
  <p>Wenn du verbotene Inhalte verbreitest, wird Curview angemessene Anstrengungen unternehmen, diese von der Website zu löschen. Du erkennst aber an, dass Caching oder Verweise auf den Inhalt möglicherweise nicht umgehend entfernt werden können.
    Vorbehaltlich jeglicher Zusicherungen oder Garantien hat Curview das Recht (jedoch nicht die
    Verpflichtung), im eigenen Ermessen von Curview jeden Inhalt abzulehnen oder zu entfernen, der
    nach Ansicht von Curview gegen jegliche Richtlinie von Curview verstößt oder auf irgendeine Weise verletzend oder anstößig ist, oder aus jedem beliebigen Grund den Zugang zur und die Verwendung der Website für jede natürliche oder juristische Person im eigenen Ermessen von Curview zu beenden oder zu verweigern. Curview hat und kann nicht alle Materialien, einschließlich Computer-Software, die auf der Website veröffentlicht werden, überprüfen, und kann deshalb nicht für die Inhalte, Verwendung oder Auswirkung dieses Materials haftbar gemacht werden. Durch die Betreibung der Website versichert oder impliziert Curview nicht, dass das dort veröffentlichte Material gutgeheißen wird oder dass ein solches Material für zutreffend, nützlich oder ungefährlich gehalten wird. Du bist dafür verantwortlich, die notwendigen Sicherheitsvorkehrungen zu treffen, um dich und deine Computersysteme vor Viren, Würmern, Trojanern und anderen schädlichen und zerstörerischen Inhalten zu schützen.
    Die Website kann Inhalte enthalten, die beleidigend, unanständig oder anderweitig anstößig sind,
    sowie Inhalte, die technische Ungenauigkeiten, Schreibfehler und sonstige Fehler aufweisen. Die
    Website kann auch Material enthalten, das gegen Eigentums- oder Veröffentlichungsrechte verstößt
    oder die Rechte an geistigem Eigentum oder sonstige Eigentumsrechte Dritter verletzt. Das
    Herunterladen, Kopieren oder Nutzen des Materials kann außerdem zusätzlichen genannten oder
    ungenannten Geschäftsbedingungen unterliegen. Curview schließt jegliche Verantwortung für einen
    Schaden infolge der Nutzung durch Benutzer der Website oder infolge des Herunterladens der dort
    veröffentlichten Inhalte durch solche Benutzer aus.</p>

  <h2>Allgemeine Zusicherung und Gewährleistung</h2>
  <p>Du versicherst und garantierst, dass für deine Nutzung unserer Dienste Folgendes gilt:</p>
  <li> Sie erfolgt in strikter Übereinstimmung mit diesen Geschäftsbedingungen.
  <li> Es werden alle anwendbaren Gesetze und Vorschriften eingehalten (u. a. alle anwendbaren
    Gesetze zu Onlineverhalten und akzeptablen Inhalten, Datenschutz, Datensicherheit und der
    Übertragung von technischen Daten, die aus der Europäischen Union oder dem Land, in
  dem du wohnst, exportiert werden).
  <li> Die Dienste werden nicht für rechtswidrige Zwecke, zur Veröffentlichung illegaler Inhalte
    oder zur Förderung illegaler Aktivitäten genutzt.
  <li> Die geistigen Eigentumsrechte Dritter werden nicht verletzt oder missbraucht.
  <li> Es werden keine vertraulichen persönlichen Daten anderer veröffentlicht.
  <li> Es werden keine Spamnachrichten oder unerwünschte Massennachrichten versendet.
  <li> Kein Dienst oder Netzwerk wird gestört, unterbrochen oder angegriffen.
  <li> Es wird damit kein Material erstellt, verteilt oder ermöglicht, das Malware, Spyware, Adware
    oder anderen bösartigen Programmen oder Code entspricht oder das derartige Programme
    unterstützt oder in Verbindung mit diesen arbeitet.

    <h2>Inhalt, der auf anderen Websites veröffentlicht wird </h2>
    <p>Wir haben nicht alle Materialien, einschließlich Computer-Software, die auf den Websites und Seiten zur Verfügung gestellt werden, für die Curview einen Link enthält und die einen Link auf Curview enthalten, überprüft und können dies auch nicht tun. Curview hat keine Kontrolle über diese Nicht-Curview-Websites und -Seiten und ist nicht verantwortlich für deren Inhalte oder Nutzung. Durch einen Link auf eine Nicht-Curview-Website oder -Seite versichert oder impliziert Curview nicht, dass eine solche Website oder Seite gutgeheißen wird. Du bist dafür verantwortlich, die notwendigen Sicherheitsvorkehrungen zu treffen, um dich und deine Computersysteme vor Viren, Würmern, Trojanern und anderen schädlichen und zerstörerischen Inhalten zu schützen. Curview schließt jegliche Verantwortung für einen Schaden infolge der Nutzung von Nicht-Curview-Websites und - Seiten aus. Verstoß gegen das Urheberrecht und DMCA-Richtlinien
      Wie wir andere auffordern, unsere Rechte an geistigem Eigentum zu respektieren, so respektieren
      auch wir die Rechte an geistigem Eigentum anderer. Wenn du der Ansicht bist, dass Material, das
      sich auf Curview befindet oder damit verknüpft ist, gegen dein Urheberrecht verstößt, benachrichtige uns bitte über contact@curview.net. Wir werden alle derartigen Mitteilungen beantworten und das verletzende Material wie erforderlich oder angemessen löschen oder alle Links auf das verletzende Material deaktivieren. Wir werden den Zugang eines Besuchers auf und die Nutzung der Website kündigen, wenn unter entsprechenden Umständen der Benutzer nachweislich wiederholt gegen das Urheberrecht oder andere Rechte an geistigem Eigentum von Curview oder anderen verstößt. Änderungen Wir aktualisieren laufend unsere Dienste, d. h. dass wir manchmal die rechtlichen Bestimmungen, unter denen unsere Dienste angeboten werden, ändern müssen. Wenn wir wesentliche Änderungen vornehmen, werden wir dich durch eine Bekanntgabe auf unserer Website dadurch informieren. Wenn du nicht mit unseren Änderungen einverstanden bist, solltest du deine Nutzung von Curview innerhalb der angegebenen Frist einstellen. Die Fortsetzung deiner Nutzung von Curview unterliegt den neuen Bedingungen. Allerdings soll jeder Rechtsstreit, der vor den Änderungen aufkam, gemäß den Bedingungen geklärt werden, die zum Zeitpunkt des aufkommenden Rechtsstreits gültig waren.</p>

    <h2>Haftungsausschluss</h2>
    <p>Curview übernimmt keine Gewährleistung, dass die Website fehlerfrei ist oder dass der Zugang
      fortlaufend oder unterbrechungsfrei erfolgt. Du verstehst, dass du nach eigenem Ermessen und auf
      eigene Gefahr Inhalte oder Leistungen von der Website herunterlädst oder über die Website
      einholst.</p>

    <h2>Haftungsbeschränkung</h2>
    <p>In keinem Fall haftet Curview in Bezug auf einen Gegenstand dieser Vereinbarung aufgrund eines Vertrages, aufgrund von Fahrlässigkeit, Gefährdungshaftung oder einer sonstigen Billigkeitstheorie für: (i) jegliche beiläufig entstandene Schäden, Folgeschäden oder sonstige Schäden; (ii) die Kosten für die Beschaffung von Ersatzprodukten oder Leistungen; (iii) die Nutzungsunterbrechung oder den Verlust oder die Beschädigung von Daten. Curview übernimmt keine Haftung für einen Ausfall oder eine Verzögerung aufgrund von Tatsachen, die nach vernünftigem Ermessen über seine Kontrolle hinausgehen. Das Vorstehende gilt nicht, soweit nach anwendbarem Recht unzulässig.</p>

    <h2>Schadloshaltung</h2>
    <p>Du stimmst zu, Curview und jeweiligen Vorstandsmitglieder, Amtsträger, Mitarbeiter und Vertreter gegen jegliche Haftungsfälle, Ansprüche und Ausgaben schadlos zu halten, einschließlich
      angemessener Anwaltskosten, die den schadlos gehaltenen Parteien im Zusammenhang mit
      jeglichen Ansprüchen entstehen, die sich aus jeglicher Verletzung dieser Vereinbarung ergeben.</p>

    <p>Diese Geschäftsbedingung wurde von https://de.wordpress.com/tos/ adaptiert.</p>
</div>
