.search-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  color: var(--text-primary);
  margin-bottom: -10px;
  .search-title {
    align-items: center;
  }
  h2 {
    margin: 7px 0 0 0;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    justify-self: right;

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-primary);
      font-family: "Cairo", sans-serif;
      transition: 0.2s;
      cursor: pointer;
      opacity: 1;

      &:first-child {
        margin: 0 30px 0 0;
      }
      &.import {
        &:before {
          content: "";
          display: block;
          height: 14px;
          width: 14px;
          mask: url(../../assets/icons/icon-create.svg) no-repeat;
          background: var(--text-primary);
          margin: 2px 10px 0 0;
          transition: 0.2s;
          mask-size: 14px;
        }
        &:hover {
          color: var(--main-color);
          &:before {
            background: var(--main-color);
          }
        }
      }
      &.back {
        &:before {
          content: "";
          display: block;
          height: 12px;
          width: 8px;
          mask: url(../../assets/icons/icon-backwards.svg) no-repeat;
          background: var(--text-primary);
          margin: 2px 10px 0 0;
        }
        &:hover {
          color: var(--main-color);
          &:before {
            background: var(--main-color);
          }
        }
      }
      &.forward {
        &:after {
          content: "";
          display: block;
          height: 12px;
          width: 8px;
          mask: url(../../assets/icons/icon-forward.svg) no-repeat;
          background: var(--text-primary);
          margin: 2px 0px 0 10px;
        }
        &:hover {
          color: var(--main-color);
          &:after {
            background: var(--main-color);
          }
        }
      }
      &.disabled {
        opacity: 0.45;
        cursor: default;
        &:hover {
          color: var(--text-primary);
          &:after, &:before {
            background: var(--text-primary);
          }
        }
      }
    }

    .search-results-arrow.disabled {
      display: none;
    }
  }
}
