<div class="search-navigation-wrapper">
  <h2 class="playlist-title" *ngIf="displayPlaylistImportOptions">{{currentDisplayPlaylistName}}</h2>
  <h2 class="search-title" *ngIf="!displayPlaylistImportOptions && selectedDataApiId !== directVideoId">
    {{currentSearchInputResolved}}</h2>
  <div class="nav-container">
    <div *ngIf="displayPlaylistImportOptions" class="nav import" (click)="triggerImportPlaylist()">
      {{ 'import_playlist' | tl8 }}</div>
    <div *ngIf="displayPlaylistImportOptions" class="nav back"
         [ngClass]="hasPreviousSearchResults ? 'enabled' : 'disabled'" (click)="backToSearchResults()">Zurück zu den
      Suchergebnissen
    </div>
    <div *ngIf="!displayPlaylistImportOptions" class="nav back"
         [ngClass]="hasPreviousSearchResults ? 'enabled' : 'disabled'" (click)="toPreviousSearchResults()"> zurück
    </div>
    <div *ngIf="!displayPlaylistImportOptions" class="nav forward"
         [ngClass]="hasNextSearchResults ? 'enabled' : 'disabled'" (click)="toNextSearchResults()"> vor
    </div>
  </div>
</div>
