// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chat-app-frontend-primary: mat-palette($mat-indigo);
$chat-app-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chat-app-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$chat-app-frontend-theme: mat-light-theme(
  $chat-app-frontend-primary,
  $chat-app-frontend-accent,
  $chat-app-frontend-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($chat-app-frontend-theme);

/* You can add global styles to this file, and also import other style files */

.app-body {
  //--background: linear-gradient(to bottom, #171926 0%, #4c5068 100%);
  /* background: rgb(223, 223, 223);
    --light-black: rgba(59, 61, 66, 0.4);
    --container-background: rgba(35, 37, 41, 0.8);
    --ui-solid: rgba(35, 37, 41, 1);
    --ui-highlight: rgba(255, 255, 255, 0.08);
    --white-transparent: rgba(255, 255, 255, 0.4);
    --inactive: rgb(100, 100, 100);
    --medium-black: rgb(63, 65, 69);
    --dark-black: #e7e7e7;
    --main-color: rgb(143, 255, 126);
    --toaster-bg: rgba(59, 59, 59, 0.65);
    --toaster-bg-hover: rgba(59, 59, 59, 0.8);
    --text-primary: var(--text-primary);

  */

  .color {
    fill: var(--main-color);
  }
  .person {
    fill: #1c1c1c;
  }
  .text {
    fill: var(--text-primary);
  }

  // Border Dashes
  --border-color: var(--medium-black);
  --border-weight: 2px;
  --dash-size: 8px;
  --gap-size: 8px;

  /* Colormode */

  &.dark {
    background: url(assets/bg.jpg) rgba(35, 37, 41, 1) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --light-black: rgba(59, 61, 66, 0.4);
    --container-background: rgba(35, 37, 41, 0.8);
    --ui-solid: rgba(35, 37, 41, 0.76);
    --ui-highlight: rgba(255, 255, 255, 0.08);
    --white-transparent: rgba(255, 255, 255, 0.4);
    --nav-bg: rgba(44, 45, 47, 0.85);
    --inactive: rgb(150, 150, 150);
    --medium-black: rgb(63, 65, 69);
    --dark-black: #121214;
    --toaster-bg: rgba(35, 37, 41, 0.8);
    --toaster-bg-hover: rgba(35, 37, 41, 1);
    --text-primary: #fff;
    --border-left: linear-gradient(to bottom, rgba(24, 24, 24, 0.2), rgba(24, 24, 24, 0.8), rgba(24, 24, 24, 0.2)) 1
      100%;
    --border-vertical: linear-gradient(to right, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    --playlist-control: #fff;
    --playlist-control-hover: var(--main-color);
    --tab-inactive: rgba(82, 82, 82, 0.5);
    --icon-tabs: var(--text-primary);
    --icon-tabs-inactive: rgb(128, 128, 128);
    --box-shadow-left: inset -1px -4px 5px -5px rgba(0, 0, 0, 0.8);
    --box-shadow-middle: inset 1px -4px 5px -5px rgba(0, 0, 0, 0.8);
    --box-shadow-right: inset 3px -4px 5px -5px rgba(0, 0, 0, 0.8);
    --playlist-controller: linear-gradient(
      0deg,
      rgba(59, 61, 66, 0) 0%,
      rgba(59, 61, 66, 0.1) 50%,
      rgba(59, 61, 66, 0) 100%
    );
    --playlist-controller-hover: radial-gradient(ellipse at center, rgba(24, 24, 24, 0.5) 0%, rgba(10, 10, 10, 0) 60%);
    --playlist-controller-active: radial-gradient(ellipse at center, rgba(24, 24, 24, 0.6) 0%, rgba(10, 10, 10, 0) 80%);
  }
  &.light {
    background: #fbfbfb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --light-black: #9e9e9e;
    --container-background: var(--medium-black);
    --ui-solid: #6a6a6a;
    --nav-bg: rgba(255, 255, 255, 1);
    --ui-highlight: rgba(255, 255, 255, 0.5);
    --white-transparent: rgba(255, 255, 255, 0.4);
    --inactive: rgb(100, 100, 100);
    --medium-black: rgb(63, 65, 69);
    --dark-black: rgba(117, 118, 120, 0.5);
    --toaster-bg: rgba(59, 59, 59, 0.65);
    --toaster-bg-hover: rgba(59, 59, 59, 0.8);
    --text-primary: rgb(37, 37, 37);
    --border-left: linear-gradient(to bottom, rgba(24, 24, 24, 0), rgba(24, 24, 24, 0.2), rgba(24, 24, 24, 0)) 1 100%;
    --playlist-control: #fff;
    --playlist-control-hover: var(--main-color);
    --tab-inactive: #f1f1f1;
    --icon-tabs: var(--text-primary);
    --icon-tabs-inactive: rgba(26, 26, 26, 0.6);
  }

  &.green {
    --main-color: rgb(122, 255, 102);
  }
  &.red {
    --main-color: rgb(249, 255, 74);
  }
  &.blue {
    --main-color: #67e5ff;
  }
}

* {
  box-sizing: border-box;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
}
a,
h1,
h2,
h3,
h4 {
  font-family: "Cairo", sans-serif;
}

html,
body {
  height: 100%;

  color: var(--text-primary);
}

body.using-mouse * {
  outline: none;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.btn {
  border: 2px solid var(--text-primary);
  color: var(--text-primary);
  border-radius: 3px;
  padding: 4px 8px;
  font-family: "Cairo", sans-serif;
  transition: 0.2s ease;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  &:hover {
    border: 2px solid var(--main-color);
    color: var(--main-color);
  }
}

.chat-container .chatbox, .open .app-container .userlist-open, .cdk-virtual-scroll-viewport, .wrapper .app-wrapper .inner .scroll-container, .center-overlay-content > * {
  &::-webkit-scrollbar {
    width: 4px !important;
    height: 6px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }
}




@keyframes toVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enlarge {
  0% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 35px;
    height: 35px;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
  height: 50px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.logo {
  margin: 10px;
  width: 250px;
  height: 35px;
  align-self: center;
  transition: 0.3s ease;
  justify-self: center;
}

// Video APP //

.video-iframe {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pipActive .video-iframe {
  position: absolute;
}


// Chat Animations //

.open .app-container .chat-container {
  opacity: 1;
  transition: 0.4s;
  transition-delay: 0.1s;
}

.wrapper-chat.open .app-wrapper .chat-container .chatmessage-container .send-btn {
  opacity: 1 !important;
  //transition-delay: opacity 0.7s !important;
}

.wrapper-chat.closed .app-wrapper .chat-container .chatmessage-container {
  opacity: 0 !important;
}

.open.userlist .chatmessage-container {
  opacity: 0 !important;
  transition: 0.4s !important;
  transition-delay: 0.2s !important;
}

.open.userlist .app-container .userlist-open {
  opacity: 1 !important;
}

.wrapper-chat.open .app-wrapper .chat-container .chatmessage-container {
  transition-delay: 1s;
  transition: 0.4s;
  opacity: 1;
}

.open.userlist .app-container .chat-container {
  transition: 0.4s;
  opacity: 0;
  transition-delay: 0.1s;
}

// s9toastr
.s9-toastr-container {
  position: fixed;
  top: 100px;
  right: 140px;
  z-index: 100000;
transition: 0.3s ease-in-out;;
  &.open {
  right: 355px;
  }
}



// Mobile

.main-wrapper.mobile {
  .middle-section {
    padding-top: 0;
  }

  .app-video {
    margin: 0 !important;
  }
  .chatbox + div {
    width: 100% !important;
  }
  .chat-container {
    opacity: 1;
    .send-btn {
      opacity: 1 !important;
    }
    .chatmessage-container {
      opacity: 1 !important;
    }
    .searchresult-elem {
      grid-template-rows: 4fr 1fr;
    }
  }

  // Playlist

  .playlist-elements-container {
    padding: 15px 0;
  }


  // Userlist

  .app-wrapper .userlist {
    margin: 15px 15px 10px 15px;
    .user-container {
      grid-template-columns: 65px auto 70px;
    }
    .toggle-edit {
      margin-left:0 !important;
    }
  }

  // Searchresults

  .search-result-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 15px;
    position: relative;
  }

  .search-result-wrapper.firefox {
    grid-template-columns: repeat(auto-fill, minmax(250px, 0.95fr));
    padding: 15px;
    position: relative;
  }

  .search-navigation-wrapper {
    padding: 0 15px;
  }
  .searchresult-elem {
    &.playlist:after {
      left: 5px;
      right: auto;
    }
    .addtoplaylist {
      opacity: 1 !important;
      bottom: 5px !important;
      top: initial !important;
    }
    .content-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr !important;
      h1 {
        grid-row: 1/2 !important;
        grid-column: 2/4 !important;
        max-height: 45px;
        min-height: auto;
        align-self: flex-end;
        margin: 0 0 0 10px !important;
      }
      .channel-name {
        grid-row: 2/3 !important;
        grid-column: 2/3 !important;
        margin: 0 0 0 10px !important;
      }
      .search-result {
        grid-row: 2/3 !important;
        grid-column: 3/4 !important;
        margin: 0 !important;
      }
    }

    .searchresult-thumbnail-container {
      grid-row: 1/3 !important;
      grid-column: 1/2 !important;
      margin-right: 15px;
    }
  }
}
