.preview-container {
  cursor: grabbing !important;
  .image-wrapper {
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 3px 3px 9px 0px rgba(0,0,0,0.25);
    img {
      width: 125px;
      clip-path: polygon(0 13%, 100% 13%, 100% 87%, 0% 87%);
      margin: -10% 0 -15%;
    }
  }
  
  .title {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    display: block;
    max-width: 125px;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 45px;
    letter-spacing: 0.3px;
  }
}

/* Searchresult Container */

.search-result-wrapper {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  //height: 100%;
}

.search-result-wrapper img {
  width: 100%;
}

.searchresult-elem {
  &.playlist:after {
    content: "playlist";
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 200;
    border-radius: 3px;
    background: var(--main-color);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    padding: 0 8px;
    color: #232323;
    font-family: "Cairo", sans-serif;
    font-size: 12px;
    transition: 0.2s ease;
    font-weight: 700;
    letter-spacing: 0.3px;
    height: 28px;
    line-height: 28px;
  }
  color: var(--text-primary);
  position: relative;
  transition: 0.2s ease-in;
  cursor: pointer;
  display: grid;
  overflow: hidden;
  border-radius: 3px;
  .addtoplaylist {
    position: absolute;
    top: 9px;
    left: 5px;
    background: url(../../assets/icons/icon-create.svg) var(--ui-solid) no-repeat;
    background-size: 12px;
    background-position: 5px 8px;
    padding: 0px 8px 0px 23px;
    border-radius: 3px;
    opacity: 0;
    transition: 0.2s;
    z-index: 1000;
    span {
      font-family: "Cairo", sans-serif;
      font-size: 12px;
      transition: 0.2s ease;
      font-weight: 700;
      letter-spacing: 0.3px;
      color: var(--text-primary);
      line-height: 28px;
    }
  }

  .content-wrapper {
    display: grid;
  }
  h1 {
    font-size: 15px;
    font-weight: 500;
    display: block;
    max-width: 400px;
    margin: 10px 0 2px;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    min-height: 45px;
    letter-spacing: 0.3px;
  }
  .searchresult-thumbnail-container {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    z-index: 100;
    width: 100%;
    height: 0;
    padding-bottom: 54%;
    overflow: hidden;
    border-radius: 3px;
    position: relative;

  }
  img {
    z-index: 100;
    clip-path: polygon(0 13%, 100% 13%, 100% 87%, 0% 87%);
    margin: -10% 0 0 0;
  }
  &:hover {
    .addtoplaylist {
      opacity: 1;
      top: 5px;
    }
  }

  span {
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0;
    font-family: "Cairo", sans-serif;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    color: var(--inactive);
    &:last-child {
      text-align: right;
    }
  }
}

.load-more-searchresults-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

.searchresults-loader-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
}

.mobile-spinner {
  width:100vw !important;
}
