<app-search-controls></app-search-controls>
<div class="search-result-wrapper"
     [ngClass]="isFirefox ? 'firefox' : ''"
     [cdkDropListConnectedTo]="['playlist_container', 'playlist-tab', 'search-tab']"
     cdkDropList
     id="search_results_container"
     [cdkDropListData]="searchResults" cdkDropListSortingDisabled>
  <div tabindex="0"
       class="searchresult-elem"
       cdkDrag
       [cdkDragStartDelay]="dragDelay"
       [id]="'video-' + i"
       (keydown.enter)="triggerStartImmediately(searchResult)"
       [class.playlist]="searchResult.playlistId"
       *ngFor="let searchResult of searchResults; let i = index">
    <div *ngIf="searchResult.videoId"
         class="addtoplaylist"
         (click)="triggerAppendToPlaylist(searchResult)">
      <span>{{ 'add_to_playlist' | tl8 }}</span>
    </div>
    <div *ngIf="searchResult.playlistId" class="addtoplaylist"
         (click)="triggerImportPlaylistFromPreview(searchResult)"><span>{{ 'add_to_playlist' | tl8 }}</span></div>


    <div (click)="startVideo(searchResult)" class="content-wrapper">
      <div class="searchresult-thumbnail-container">
        <img class="searchresult-thumbnail" [src]="searchResult?.iconUrl">
      </div>
      <h1>{{searchResult.title}}</h1>
      <span class="channel-name">{{searchResult.channelTitle}}</span>
      <span class="search-result">{{searchResult.createdAt | date: 'dd.MM.yyyy'}}</span>
    </div>
    <div class="preview-container" *cdkDragPreview>
      <div class="image-wrapper"><img  [src]="searchResult.iconUrl" [alt]="searchResult.title"></div>
      <h1 class="title">{{searchResult.title}}</h1>
    </div>
    <div *cdkDragPlaceholder> </div> <!-- invisible placeholder to leave tab working -->
  </div>
</div>


<app-spinner *ngIf="displaySearchResultOverlay" [text]="'importing_key'"
             [mobile]="screenMode === 'mobile'"
             [@opOut] class="searchresults-loader-background" [class.mobile-spinner]="screenMode === 'mobile'">
</app-spinner>
