.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--ui-solid);
}

.bluescreen {
  font-family: 'Press Start 2P';
  color: white;
  margin-top: 20px;
  margin-left: 25vw;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  background-color: #000bad;
  height: 400px;
  box-shadow: 5px 5px 2px 1px #0e0e0e;
  animation: bluescreenSlideIn 1s linear forwards;

  @keyframes bluescreenSlideIn {
    0% {
      width: 0;
      background-color: black;
    }
    85% {
      background-color: black;
      width: 50vw;

    }
    100% {
      width: 50vw;
    }
  }

  .bs-type-txt {
    display: flex;
    font-size: 10px;
    margin-left:10%;
    width:100%;
  }

  .bs-title, .bs-button {
    animation: display 0.35s linear 1s backwards;
    padding: 5px;
    text-align: center;
    margin: 10px;
    background-color: grey;
    font-size: 10px;
  }
  .bs-title {
    margin-bottom: 35px !important;
  }

  .type-anim2 {
    -webkit-animation: display 0.15s linear 2.5s backwards !important;
    margin-left: 7px;
  }

  .type-anim1 {
    -webkit-animation: typing 0.4s steps(18, end) 1s backwards,
    blink-caret .3s step-end 10 alternate,
    display 0.35s linear 1s backwards !important;
    white-space: nowrap;
    overflow: hidden;
    border-right: .5em solid black;
    width: 19ch;
    text-align: left;
  }

  .bs-button:hover {
    background-color: #121214;
  }

  .bs-body {
    -webkit-animation: display 0.15s linear 3s backwards;
    width: 90%;
    margin: 10px auto;
    font-size: 10px;
  }

  .indented {
    padding: 0px 25px;
  }

  @keyframes display {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  @-webkit-keyframes typing {
    from {
      width: 0;
    }
  }
  @-webkit-keyframes blink-caret {
    50% {
      border-color: white;
    }
  }

}
