<div class="wrapper">
  <div class="logo"></div>
  <div class="bluescreen" >
    <div class="bs-title">Error</div>
    <div class="bs-type-txt">
      <span class="type-anim1">  {{ 'process_link' | tl8 }}</span><span class="type-anim2"> {{ 'wrong_link' | tl8 }}</span>
    </div>
    <span class="bs-body indented"> {{errorLink}}  </span>
    <span class="bs-body"> {{ 'suggestion_one' | tl8 }} </span>
    <span class="bs-body indented"> {{ 'step_one' | tl8 }} </span>
    <span class="bs-body indented"> {{ 'step_two' | tl8 }} </span>
    <span class="bs-body indented"> {{ 'step_three' | tl8 }}</span>
    <span class="bs-body"> {{ 'apology' | tl8 }} </span>
    <div (click)="createNewRoom()" class="bs-button"> {{ 'create_NR' | tl8 }}</div>
  </div>
</div>
